.rs-alphabet {
    span,
    div {
        cursor: default;
    }
    #main-nav {
        background-color: $rs-yellow;

        @media (min-width: 768px) {
            background-color: $rs-white;
        }
    }
    .alphabet-section {
        @media (min-width: 576px) {
            padding-bottom: 60px;
        }
        @media (min-width: 768px) {
            padding-bottom: 70px;
        }
        @media (min-width: 1200px) {
            padding-bottom: 120px;
        }
    }
    .rs-footer.footer-yellow {
        background-color: $rs-grey-6;
    }
}

.alphabet-section {
    .header-block {
        display: flex;

        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        @media (min-width: 768px) {
            padding-top: 54px;
            margin-bottom: 43px;
        }
        .h1 {
            font-size: 26px;
            line-height: 130%;
            @media (min-width: 768px) {
                font-size: 50px;
                line-height: 60px;
                padding: 0;
            }
        }
        .banner-description {
            max-width: 450px;
            margin-bottom: 0;
            display: block;
            text-align: center;
            padding: 0 50px;
            @media (min-width: 768px) {
                padding: 0;
            }
        }
    }

    &.providers {
        .header-block {
            @media (min-width: 768px) {
                padding-top: 50px;
                margin-bottom: 40px;
            }
            .h1 {
                margin-bottom: 20px;
            }
            .banner-description {
                text-align: center;
            }
        }
        .btn-filters-container {
            margin-top: 0px;
            margin-bottom: 17px;
        }
    }

    .medications-heading {
        padding: 0px 40px 15px;
        .main-heading {
            // font-family: "Catamaran";
            font-weight: 800;

            color: $rs-black;
            text-transform: capitalize;
            text-align: left;
            padding: 0;

            @media (min-width: 576px) {
                text-align: center;
                font-size: 25px;
                line-height: 1.6;
            }
            @media (min-width: 768px) {
                text-align: left;
                font-size: 45px;
            }

            @media (min-width: 1200px) {
                font-size: 56px;
                line-height: 2;
            }
        }
        .description-heading {
            font-family: "Catamaran";
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 29px;
            color: $rs-blue;
            text-transform: uppercase;
            text-align: left;
            margin-bottom: 10px;

            @media (max-width: 576px) {
                font-size: 15px;
                line-height: 24px;
            }
        }

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }
    .alphabet-container {
        padding: 0 54px;

        .p-relative {
            position: relative;
        }
        .btn-filters-container {
            display: flex;
            flex-wrap: wrap;

            // justify-content: space-between;
            .btn-filter {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 20px;
                font-weight: 700;
                font-size: 12px;
                line-height: 1;
                color: $rs-black;
                height: 40px;
                background: $rs-grey-5;
                border-radius: 50px;
                transition: 0.4s ease-in-out;
                margin-right: 10px;
                margin-bottom: 7px;
                text-transform: uppercase;

                &:last-of-type {
                    margin-right: 0;
                }
                cursor: pointer;
                .x-icon {
                    margin-left: 7px;
                    fill: $rs-grey-8;
                    font-size: 15px;
                    width: 5px;
                    transition: 0.4s ease-in-out;
                }
                &:hover {
                    background: $rs-purple;
                    color: $rs-white;
                    .x-icon {
                        fill: $rs-white;
                    }
                }
                @media (max-width: 576px) {
                    height: 30px;
                    padding: 0 15px;
                    margin-right: 20px;
                }
            }

            @media (max-width: 992px) {
                padding: 24px 0 40px 30px;
            }
        }

        .filters-container .dropdown .btn-filter-search {
            text-transform: uppercase;
            font-size: 14px;
            height: 48px;
            @media (min-width: 992px) {
                font-size: 16px;
            }
        }

        .search-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 7px;
            @media (max-width: 992px) {
                order: -1;
            }
            @media (max-width: 576px) {
                margin-top: 55px;
            }
            .btn-toggle-filter {
                display: none;
                align-items: center;
                justify-content: center;
                width: max-content;
                border: none;
                font-family: "Open Sans", sans-serif;
                font-weight: 700;
                font-size: 10px;
                line-height: 1;
                color: $rs-black;
                transition: 0.4s ease-in-out;
                padding-left: 15px;
                cursor: pointer;

                .count {
                    color: $rs-blue-1;
                    margin-right: 10px;
                    margin-left: 3px;
                }
                &::after {
                    content: "";
                    transform: rotate(180deg);
                    height: 8px;
                    width: 8px;
                    display: block;
                    background: url(../svg/icon-arrow.svg);
                    object-fit: contain;
                    background-repeat: no-repeat;
                    background-size: contain;
                    transition: 0.4s ease-in-out;
                }

                &.collapsed {
                    &::after {
                        transform: rotate(-90deg);
                    }
                }

                &:hover {
                    text-decoration: none;
                    color: $rs-blue-1;
                }

                @media (max-width: 576px) {
                    display: flex;
                    order: 0;
                }
            }
            .search-block {
                position: relative;
                width: max-content;
                max-width: calc(100% - 100px);
                @media (max-width: 576px) {
                    // width: calc(100% - 170px);
                    width: auto;
                    max-width: unset;
                    height: 36px;
                }
                .search-input {
                    width: 403px;
                    max-width: 100%;
                    border-radius: 50px;
                    background: $rs-grey-6;
                    border: none;
                    padding-left: 69px;
                    padding-right: 42px;
                    font-family: "Open Sans", sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 1;
                    display: flex;
                    justify-content: center;
                    height: 42px;
                    outline: none;
                    &::placeholder {
                        color: $rs-grey-1;
                        text-transform: uppercase;
                    }
                    @media (max-width: 576px) {
                        // width: 100%;
                        // padding: 0 40px 0 20px;
                        // height: 36px;
                        display: none;
                        bottom: 125%;
                        padding: 0 20px 0 20px;
                        height: 36px;
                        position: absolute;
                        right: 0;
                        width: 230px;
                        max-width: unset;
                    }
                }
                .search-toggle {
                    background: $rs-purple;
                    width: 42px;
                    height: 42px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    border: none;
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    outline: none;
                    pointer-events: none;
                    @media (max-width: 576px) {
                        width: 36px;
                        height: 36px;
                        pointer-events: unset;
                        position: relative;
                    }
                    svg {
                        fill: $rs-white;
                        height: auto;
                        width: 13px;
                    }
                }
                @media (max-width: 576px) {
                    order: 2;
                }
            }

            .result {
                font-family: "Open Sans", sans-serif;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: $rs-grey;
                @media (max-width: 576px) {
                    text-transform: uppercase;
                    order: 1;
                    font-size: 10px;
                    line-height: 14px;
                }
            }
        }

        @media (max-width: 992px) {
            padding: 0 30px;
        }
        @media (max-width: 768px) {
            padding: 0 8px;
        }
    }

    .dr-right-block {
        display: none;
        text-align: center;
        @media (min-width: 768px) {
            display: block;
        }
        img {
            position: relative;
            bottom: -34px;
        }
    }

    .simple-card-block {
        position: relative;
        // flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 30px;
        padding: 16px 20px;
        padding-right: 40px;
        min-height: 72px;
        border-radius: 20px;
        box-shadow: $box-shadow-light;
        transition: 0.4s;
        // align-items: flex-start;
        text-decoration: none;
		border: none;
        align-items: center;
        * {
            cursor: pointer;
        }
        &:hover {
            box-shadow: $box-shadow-heavy;
        }
        .simple-flex {
            display: flex;
            align-items: center;
        }
        @media (min-width: 992px) {
            width: calc(100% - 75px);
            margin-left: auto;
            padding: 0 39px;
        }
        @media (min-width: 768px) {
            width: calc(100% - 65px);
            margin-left: auto;
            padding: 0 25px;
            border-radius: 40px;
            // flex-direction: row;
            // align-items: center;
        }
        .block-name {
            // margin-right: auto;
            font-weight: bold;
            font-size: 16px;
            color: $rs-black;
            text-transform: capitalize;
            // width: 100%;
            display: block;
            @media (min-width: 768px) {
                // text-transform: uppercase;
                font-size: 20px;
                width: max-content;
                margin-bottom: 0;
            }
        }
        .label-card {
            border-radius: 20px;
            width: max-content;
            padding: 0 12px;
            text-transform: uppercase;
            // font-weight: 800;
            font-weight: 600;
            font-size: 12px;
            color: $rs-white;
            background: $rs-grey-1;
            margin-left: 10px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.green {
                background: $rs-green;
            }
        }
        .block-nomber {
            font-weight: bold;
            font-size: 14px;
            background: transparent;
            font-weight: 800;
            font-size: 12px;
            border-radius: 0;
            width: max-content;
            height: auto;
            color: $rs-grey-19;
            height: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            @media (min-width: 768px) {
                background: $rs-green;
                font-weight: 800;
                font-size: 12px;
                border-radius: 50%;
                width: 32px;
                height: 32px;
                color: $rs-white;
            }
        }
        .numb-block {
            display: flex;
            align-items: center;
            width: 100%;
            margin-top: 10px;
            @media (min-width: 768px) {
                margin-left: auto;
                width: max-content;
                margin-top: 0;
            }
        }
        .block-description {
            font-weight: 600;
            font-size: 12px;
            text-transform: capitalize;
            padding-left: 5px;
            display: block;
            @media (min-width: 768px) {
                font-weight: bold;
                font-size: 18px;
                padding-left: 12px;
            }
        }
        .arw-right {
            margin-left: 24px;
            position: absolute;
            right: 27px;
            top: 50%;
            transform: translate(0, -50%);
            height: 15px;
            @media (min-width: 768px) {
                height: unset;
                position: relative;
                right: unset;
                top: unset;
                transform: unset;
            }
        }
    }

    #collapseFilters {
        @media (min-width: 576px) {
            display: block !important;
        }

        @media (max-width: 576px) {
            height: 0;
            overflow: hidden;
            order: -2;
            &.show {
                height: auto;
            }
        }
    }
    .filters-container-vertical {
        background: rgba(237, 242, 245, 0.5);
        border-radius: 20px;
        height: max-content;
        padding: 35px 25px 40px 0;
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 25px;

        @media (max-width: 576px) {
            margin-left: 0px;
        }

        .f-name {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: $rs-black;
            padding-left: 45px;
        }

        .filters-block {
            width: 100%;
            display: flex;
            flex-direction: column;
            &:last-of-type {
                margin-bottom: 0;
            }

            .btn-collapce {
                border-top-right-radius: 20px;
                background: $rs-white;
                width: 100%;
                transition: 0.4s ease-in-out;
                outline: none;
                box-shadow: none;
                padding-top: 25px;
                padding-left: 45px;
                text-align: left;
                &.collapsed {
                    background: transparent;
                }
            }

            .collapse {
                border-bottom-right-radius: 20px;
                background: $rs-white;
                margin-bottom: 5px;
            }
            .check {
                display: block;
                margin-top: 10px;
                position: relative;
                cursor: pointer;
                padding-left: 42px;
                &:last-of-type {
                    padding-bottom: 10px;
                }
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                .filter {
                    position: relative;
                    padding-left: 36px;
                    cursor: pointer;
                    &:before {
                        content: "";
                        width: 11px;
                        height: 11px;
                        display: block;
                        background: $rs-grey-5;
                        transition: 0.4s;
                        position: absolute;
                        top: 50%;
                        transform: translate(0, -50%);
                    }
                }

                input:checked ~ .filter:before {
                    background: $rs-blue;
                }
            }
            .count {
                color: $rs-blue;
            }
        }
    }

    .anchors-container {
        &.abs-right {
            position: absolute;
            right: -40px;
            display: none;
            @media (min-width: 768px) {
                display: block;
            }
        }
        margin-top: 30px;
        @media (max-width: 576px) {
            display: none;
        }
        &.anchors-providers {
            @media (max-width: 768px) {
                display: none;
            }
        }
        .alphabet {
            padding: 0;
            .letter {
                list-style: none;
                display: flex;
                justify-content: flex-end;

                .letter-link {
                    border-radius: 50%;
                    width: 28px;
                    height: 28px;
                    display: flex;
                    text-transform: uppercase;
                    justify-content: center;
                    align-items: center;
                    background: $rs-white;
                    font-family: "Catamaran";
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 1;
                    color: $rs-black;
                    transition: 0.2s ease-in-out;
                    text-decoration: none;

                    &:hover {
                        background: $rs-grey-5;
                    }
                }
            }
        }
    }
}

.medications-list {
    padding: 0;
    @media (max-width: 576px) {
        margin-bottom: 60px;
    }

    &.providers-list {
        .alphabet-section {
            padding-bottom: 20px;
        }
    }
	
	li{
		list-style: none;
	}
    .alphabet-section {
        // padding: 0;
        position: relative;
        list-style: none;
        border-top: 1px solid $rs-grey-5;
        margin-top: 41px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 576px) {
            margin-top: 60px;
            margin-left: 15px;
            &:first-of-type {
                margin-top: 15px;
            }
        }

        &.list {
            margin-top: 15px;
            border-top: none;
            padding: 0;
            margin-left: 0;

            .provider-item {
                margin: 0;
                margin-bottom: 32px;
                @media (min-width: 768px) {
                    margin: 0 9px 32px;
                }
                .card {
                    box-shadow: $box-shadow-light;
                }
            }
        }

        .name-section {
            text-transform: uppercase;
            border-radius: 50%;
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $rs-grey-5;
            font-family: "Catamaran";
            font-weight: 800;
            font-size: 16px;
            line-height: 1;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-50%, -50%);
            @media (max-width: 576px) {
                transform: translate(0, -50%);
            }
            &.alfabet {
                transform: unset;
                display: none;
                @media (min-width: 768px) {
                    display: flex;
                }
            }
            &.left-abs {
                left: -50px;
                top: 0;
                transform: translate(0);
                display: none;
                @media (min-width: 768px) {
                    display: flex;
                }
            }
        }

        .good {
            display: flex;
            align-items: center;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            color: $rs-black;
            position: relative;
            padding: 18px 10px 8px 40px;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: 90%;
                height: 2px;
                background: $rs-grey-5;
            }

            &:last-of-type {
                &::after {
                    width: 0;
                }
            }
            @media (max-width: 576px) {
                margin-left: 70px;
                padding: 21px 10px 0px 0px;
                font-size: 16px;
                line-height: 19px;

                &::after {
                    width: 100%;
                    height: 1px;
                    bottom: -10px;
                }
            }
        }
        .label {
            width: max-content;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            padding: 0 16px;
            height: 24px;
            font-family: "Catamaran";
            font-style: normal;
            font-weight: 800;
            font-size: 10px;
            line-height: 16px;
            text-transform: uppercase;
            color: $rs-white;
            margin-left: 25px;
            &.updated {
                background: $rs-pink;
            }
            &.new {
                background: $rs-green;
            }
            &.rating {
                background: $rs-orange;
            }
        }

        .providers-card {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            min-height: 200px;
            justify-content: space-between;
            padding: 20px 15px;
            border-radius: 30px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
            @media (min-width: 992px) {
                padding: 39px 15px 20px 20px;
            }
            @media (min-width: 1200px) {
                padding: 39px 20px 20px 29px;
            }
            img {
                width: max-content;
                max-height: 35px;
                max-width: 100%;
                object-fit: contain;
            }
            .h6 {
                font-weight: bold;
                font-size: 18px;
                line-height: 33px;
                margin-bottom: 0;
            }
            .description {
                font-size: 14px;
                line-height: 19px;
                color: $rs-grey-10;
                margin-bottom: 9px;
            }
            .label {
                margin-left: 0;
            }
            .review-link {
                margin-left: auto;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                color: $rs-blue-4;
                text-decoration: none;
                position: relative;
                padding: 0;
                margin-top: 10px;
                text-transform: uppercase;
                padding-right: 30px;
                svg {
                    width: 10px;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transition: 0.4s;
                    fill: $rs-blue-4;
                }
                &:hover {
                    svg {
                        right: -5px;
                    }
                }
            }

            .rating {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                .star-list {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    .star {
                        img {
                            width: 13px;
                        }
                        padding: 0;
                        list-style: none;
                    }
                }
            }
        }
    }
}

.review-link {
    text-decoration: none;
    margin-left: auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $rs-blue-4;
    text-decoration: none;
    position: relative;
    padding: 0;
    margin-top: 5px;
    // text-transform: uppercase;
    padding-right: 30px;
    display: flex;
    align-items: center;
    svg {
        width: 10px;
        transform: translate(-50%, -50%);
        position: absolute;
        right: 0;
        top: 50%;
        transition: 0.4s;
        fill: $rs-blue-4;
    }
    &:hover {
        text-decoration: none;
        color: $rs-blue-4;
        svg {
            right: -5px;
        }
    }
}
