

/*Breadcrumb*/

.breadcrumb-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .breadcrumb {
        @include media-breakpoint-down(md) {
            padding-bottom: 0;
        }
        width: max-content;
        padding-left: 0;
        .breadcrumb-item,
        .breadcrumb-item  a{
            font-weight: 600;
            font-size: 12px;
            line-height: 19px;
            @include media-breakpoint-up(md) {
                font-size: 14px;
            }
        }
    }

    .btn-open-modal {
        @include media-breakpoint-down(md) {
            padding: 0;
        }
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.8);
        text-transform: capitalize;
        width: max-content;
        height: max-content;
        display: block;
        border: none;
        outline: none;
        background: transparent;
        padding: 12px 0;
        margin: 0 0 0 auto;
        width: 100%;
        text-align: left;
        @include media-breakpoint-up(lg) {
            text-align: right;
        }
        @include media-breakpoint-up(md) {
            &.au-width {
                width: auto;
            }
        }
    }
}


/*Hero Section*/
.rs-section-hero{
	padding-top: 10px;
	padding-bottom: 20px;
	
	@include media-breakpoint-up(md) {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	
	h1{
		font-size: 26px;
		margin-bottom: 0;
		padding-bottom:0;
		padding-bottom:0;
        @include media-breakpoint-up(md) {
            font-size: 50px;
			margin-bottom: 0;
			padding-bottom:0;
			padding-bottom:0;
        }
	}

	.rs-description {
	    padding: 10px 15px;
		text-align: center;
	    font-size: 16px;
	    line-height: 1.6;
        @include media-breakpoint-up(lg) {
            padding-left: 20%;
			padding-right: 20%;
        }
	}
}

/*Content section*/

.rs-content-section {
	padding-top: 60px;
    padding-bottom: 60px;
    order: 3;

	.rs-block-caption {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		font-size: 32px;
		@include media-breakpoint-up(md) {
			margin-bottom: 60px;
		}
		i {
			margin-right: 15px;
			@include media-breakpoint-up(md) {
				margin-right: 38px;
			}
		}
		h3 {
			margin: 0;
			padding: 0;
			font-weight: 800;
			font-size: 35px;
			line-height: 57px;
		}
	}
	.rs-block-toc {
		width: 100%;
		background: $rs-grey-5;
		padding: 30px;
		margin-bottom: 30px;
		.list-item {
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
			list-style: none;
			margin-bottom: 10px;
		}
		a{
			color: #000;
			text-decoration: none;
		}
		@include media-breakpoint-up(md) {
			padding: 50px 33px 37px;
			margin-bottom: 54px;
			.list-item {
				margin-bottom: 20px;
			}
		}
	}
	.rs-block-content {
		padding-bottom: 5px;
		.h4 {
			font-weight: 800;
			font-size: 26px;
			line-height: 41px;

			@include media-breakpoint-up(lg) {
				font-size: 32px;
				line-height: 41px;
			}
		}
		p {
			font-weight: normal;
			color: rgba(0, 0, 0, 0.8); 
			font-size: 14px;
			line-height: 22px;

			@include media-breakpoint-up(md) {
				font-size: 16px;
				line-height: 26px;
			}
		}
	}

	img,
	.content-img{
		max-width: 100%;
	}
}







/*Simple cards*/

.card-container {
    height: auto;
    margin-bottom: 24px;
}

/*
.simple-card {
    display: flex;
    height: 100%;
    margin-bottom: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    padding: 14px 25px;
    align-items: center;
    transition: 0.4s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;

    &:hover {
        text-decoration: none;
        box-shadow: $box-shadow-light;
    }
    * {
        cursor: pointer;
    }


    @media (min-width: 576px) {
        margin-left: unset;
        margin-right: unset;
        border-radius: 10px;
        flex-direction: column;
        justify-content: space-between;
        padding: 33px 20px 23px;
    }
    .description-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (min-width: 576px) {
            align-items: center;
        }
        .block-number {
            margin-right: 7px;
        }
    }
    .simple-card-img {
        height: 55px;
        margin-right: 25px;
        @media (min-width: 576px) {
            height: 100px;
            margin-bottom: 10px;
            margin-right: 0;
        }
    }
    .simple-card-description {
        text-transform: capitalize;
        color: $rs-black;
        // opacity: 0.8;
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
        color: $rs-blue;
        margin-left: auto;
        margin-bottom: 5px;
        @media (min-width: 576px) {
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            margin-left: unset;
        }
    }
	&:hover {
	    box-shadow: $box-shadow-heavy;
	}
}
*/


.simple-card-block {
    display: flex;
    align-items: center;
    color: $rs-black;
    font-weight: 600;
    font-size: 11px;
    line-height: 18px;
    @include media-breakpoint-up(md) {
        font-size: 13px;
    }
}


/*
single-condition
single-treatment
single-provider

collapse card
*/
.price-table-block {
    padding-bottom: 40px;
    .table-name-block {
        &.tmd-right {
            text-align: left;
            @include media-breakpoint-up(lg) {
                text-align: right;
            }
        }
    }
    .link-compare {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        text-decoration-line: underline;
        color: $rs-black;
        cursor: pointer;
        margin-top: 17px;
    }
}


/*list for
-All conditions
-All treatments
*/

.rs-list {
    padding: 0;
    @media (max-width: 576px) {
        margin-bottom: 60px;
    }

    &.providers-list {
        .alphabet-section {
            padding-bottom: 20px;
        }
    }
	
	li{
		list-style: none;
    }

    .result-item {
        width: 100%;
    }
    
    .alphabet-section {
        // padding: 0;
        position: relative;
        list-style: none;
        border-top: 1px solid $rs-grey-5;
        margin-top: 41px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 576px) {
            margin-top: 60px;
            margin-left: 15px;
            &:first-of-type {
                margin-top: 15px;
            }
        }

        &.list {
            margin-top: 15px;
            border-top: none;
            padding: 0;
            margin-left: 0;

            .provider-item {
                margin: 0;
                margin-bottom: 32px;
                @include media-breakpoint-up(md) {
                    margin: 0 9px 40px;
                }
                .card {
                    box-shadow: $box-shadow-light;
                }
            }
        }

        .name-section {
            text-transform: uppercase;
            border-radius: 50%;
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $rs-grey-5;
            font-family: "Catamaran";
            font-weight: 800;
            font-size: 16px;
            line-height: 1;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-50%, -50%);
            @media (max-width: 576px) {
                transform: translate(0, -50%);
            }
            &.alfabet {
                transform: unset;
                display: none;
                @include media-breakpoint-up(md) {
                    display: flex;
                }
            }
            &.left-abs {
                left: -50px;
                top: 0;
                transform: translate(0);
                display: none;
                @include media-breakpoint-up(md) {
                    display: flex;
                }
            }
        }
    }
}


/*For
-All providers
-All treatments
-All conditions


.rs-alphabet {
    .alphabet-section {
        @media (min-width: 576px) {
            padding-bottom: 60px;
        }
        @include media-breakpoint-up(md) {
            padding-bottom: 70px;
        }
        @media (min-width: 1200px) {
            padding-bottom: 120px;
        }
    }
}
*/


