/*------------- Footer --------------*/

/*--RS Footer - Footer first --*/

.rs-footer-first {
	// border-radius: 30px 30px 0 0;
	padding: 40px 30px;
	.h2 {
		font-weight: 800;
		font-size: 35px;
		line-height: 57px;
		text-align: center;
		color: $rs-black;
		// max-width: 275px;
		margin: auto;
		// @include media-breakpoint-up(md) {
		// 	max-width: unset;
		// }
	}
	.pre-footer-description {
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: $rs-black;
		max-width: 275px;
		margin: 20px auto 0;
		display: block;
		@include media-breakpoint-up(sm) {
			max-width: 400px;
		}
		@include media-breakpoint-up(lg) {
			max-width: unset;
			//display: none;
		}
	}

	.subscribe-form {
		margin: 35px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		input {
			display: flex;
			align-items: center;
			background: $rs-white;
			border-radius: 2px;
			padding: 0 35px;
			height: 70px;
			font-weight: 600;
			font-size: 20px;
			line-height: 27px;
			color: rgba(0, 0, 0, 0.8);
			width: 100%;
			margin-bottom: 15px;
			outline: none;
			box-shadow: none;
			border: none;
			&::placeholder {
				color: rgba(0, 0, 0, 0.39);
			}
			@include media-breakpoint-up(md) {
				width: 35%;
			}
		}
		.btn-submit {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $rs-blue;
			height: 70px;
			border-radius: 50px;
			font-weight: bold;
			font-size: 20px;
			line-height: 27px;
			color: #ffffff;
			position: relative;
			padding: 0 34px;
			border: none;
			outline: none;
			width: 100%;
			transition: 0.4s ease-in-out;
			@include media-breakpoint-up(md) {
				width: max-content;
				padding: 0 80px 0 34px;
			}
			&::after {
				content: "\eb44";
				font-family: "icomoon" !important;
				display: none;
				color: $rs-white;
				position: absolute;
				right: 34px;
				transition: 0.4s ease-in-out;
				@include media-breakpoint-up(md) {
					display: block;
				}
			}
			&:hover {
				box-shadow: $box-shadow-light;
				&::after {
					right: 28px;
				}
			}
		}
	}

	@include media-breakpoint-up(lg) {
	}
}

.rs-footer-second {
	// border-radius: 30px 30px 0 0;
	background-color: $rs-black;
	// margin-top: -30px;
	padding: 45px 20px 40px;

	.footer-logo-link {
		display: block;
		width: 238px;
		height: 48px;
		svg {
			fill: $rs-white;
			transition: 0.4s;
		}
		&:hover {
			svg {
				fill: $rs-blue;
			}
		}
	}

	.social-links-list {
		padding: 20px 0 25px 0;

		.social-link {
			list-style-type: none;
			display: inline-block;
			margin-right: 12px;
			a {
				color: $rs-white;
				text-decoration: none;
				transition: 0.4s ease-in-out;
				i {
					font-size: 24px;
					color: $rs-white;
					transition: 0.4s ease-in-out;
					&::before {
						color: unset;
					}
				}
				&:hover {
					i {
						color: $rs-blue;
					}
				}
			}
		}
	}

	.footer-nav {
		padding-bottom: 10px;

		.footer-nav-block {
			padding-top: 0px;

			.rs-footer-header {
				color: $rs-white;
				text-transform: uppercase;
				padding-bottom: 12px;
				text-decoration: underline;
			}

			.footer-nav-list {
				padding: 0;
				margin-bottom: 26px;
			}
			.footer-nav-item {
				list-style-type: none;
				margin-bottom: 0px;
				a {
					color: $rs-white;
					text-decoration: none;
					font-size: 16px;
					line-height: 35px;
					text-decoration: underline;
					text-decoration-color: transparent;
					transition: 0.4s;
					&:hover {
						text-decoration-color: $rs-white;
					}
				}
			}
		}
	}

	.copyright {
		font-style: 400;
		font-weight: 600;
		font-size: 13px;
		line-height: 20px;
		padding-top: 18px;
		color: $rs-white;
	}
	.copyright-description {
		padding-top: 25px;
		font-size: 12px;
		line-height: 1.4;
		text-transform: uppercase;
		color: $rs-white;
		padding-bottom: 90px;
	}
}

@include media-breakpoint-up(lg) {
	.rs-footer-second {
		padding-top: 70px;

		.footer-logo {
			padding-bottom: 40px;
		}
		.social-links-list {
			padding: 20px 0 25px 0;
		}

		.footer-nav {
			padding-bottom: 0px;

			.footer-nav-block {
				padding-top: 35px;
			}
			.footer-nav-list {
				margin-bottom: 1rem;
			}
			.footer-nav-item a {
				line-height: 24px;
			}
		}
		.copyright-description {
			padding-bottom: 20px;
		}
	}
}
