.banner-section {
    padding-top: 20px;
	padding-bottom: 60px;
	
    .h1{
        font-size: 26px;
    }
    .banner-description {
        display: block;
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
        padding: 0 25px 37px;
        margin-bottom: 0;
    }
	@include media-breakpoint-up(md){
		.banner-section {
			padding-top: 53px;
		}
		.h1{
			font-size: 50px;
		}
		.banner-description {
			padding: 0 20% 57px;
		}
	}
	@include media-breakpoint-up(lg){
		.banner-description {
			padding: 0 90px 37px;
			font-size: 24px;
			line-height: 1.4;
		}
	}
}

.rs-instruction{
	font-size: 18px;
	text-align: center;
	padding: 20px 0;
	@include media-breakpoint-up(md){
		font-size: 28px;
	}
}





.simple-btn-block {
	margin-top: 20px;
	text-align: center;

	/*
    img {
        object-fit: contain;
        &.mobile-img {
            display: block;
            bottom: -17px;
            position: relative;
        }
        &.desktop-img {
            display: none;
        }
        @media (min-width: 576px) {
            &.mobile-img {
                display: none;
            }
            &.desktop-img {
                display: block;
                position: absolute;
                left: 0;
                bottom: -10px;
            }
        }
    }
	*/
}
.section-header  {
    padding: 9px 15px 15px;
    @include media-breakpoint-up(md){
        padding: 20px 15px;
    }
}
.provider-list-section {
	background: $bg-gradient;

   .section-header  {
       
        .header-disclosure {
            font-weight: 300;
            font-size: 14px;
            line-height: 19px;
            color: rgba(0, 0, 0, 0.8);
            text-transform: capitalize;
            width: max-content;
            height: max-content;
            display: block;
            border: none;
            outline: none;
            background: transparent;
            padding: 12px 0;
            margin: 0 0 0 auto;
            // @include media-breakpoint-up(md){
            //     margin: 0 auto;
            // }
        }
        .logo-icon {
            margin-top: 37px;
            margin-bottom: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                font-size: 14px;
                text-transform: uppercase;
                @include media-breakpoint-up(md){
                    font-size: 16px;
                }
            }
            i {
                font-size: 32px;
            }
        }
        .h2 {
            font-size: 26px;
            text-transform: capitalize;
            margin-bottom: 24px;
            max-width: 275px;
            @include media-breakpoint-up(md){
                font-size: 35px;
                max-width: unset;
                margin: unset;
				margin-bottom: 30px;
				
            }
        }
    }
}

@include media-breakpoint-up(md){
	.provider-list-section {
		padding-bottom: 40px;
	}
}

.our-mission {
    padding-bottom: 20px;
    .h2 {
        font-weight: 800;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 8px;
        text-align: left;
        padding: 0 15px;
        @include media-breakpoint-up(md){
            text-align: center;
            font-size: 35px;
            line-height: 57px;
            margin-bottom: 20px;
        }
    }
    h3 {
        font-size: 28px;
    }
    .img-block-full {
        display: none;
        img, svg {
            max-width: 100%;
            height: auto;
            object-fit: contain;
        }
        @include media-breakpoint-up(md){
            display: block;
        }
    }

    p {
        line-height: 1.6;
        font-size: 14px; 
         @include media-breakpoint-up(md){
            font-size: 16px; 
        }
    }
}
