
.rs-all-providers{
	/*h1 must fit on big screen*/
	.rs-section-hero .col-md-10{
	    flex: 0 0 100%;
	    max-width: 100%;
		@include media-breakpoint-up(lg) {
			h1{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	/*make the filter full width here*/
	@include media-breakpoint-up(lg) {
		.rs-section-filter .container{
			max-width: 1100px;
		}
	}
	
}

.rs-single-provider{
	

    .providers-banner-card {
        padding: 0 30px;
        order: 2;
        margin-top: 40px;
        @media (min-width: 576px) {
            padding: 0 15px;
        }
        @include media-breakpoint-up(lg) {
            order: unset;
            padding: 0 43px;
            margin-top: 0;
        }
        .breadcrumb-container {
            display: none;
            @include media-breakpoint-up(lg) {
                display: flex;
            }
            .breadcrumb {
                padding-left: 1px;
            }
        }
        .h1 {
            display: none;
            line-height: 1;
            padding: 10px 0 13px;
            @include media-breakpoint-up(lg) {
                display: block;
            }
        }
        .providers-name {
            color: $rs-black;
            font-weight: 800;
            font-size: 16px;
            line-height: 35px;
            text-transform: uppercase;
            @include media-breakpoint-up(md) {
                text-transform: capitalize;
                font-size: 22px;
                line-height: 35px;
            }
        }
        .providers-description {
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: $rs-black;
            margin-top: 15px;

            @include media-breakpoint-up(md) {
                font-size: 16px;
                line-height: 26px;
                padding-bottom: 10px;
                padding-right: 14%;
                margin-top: 0;
            }
        }

        .card-rating {
            display: flex;
            align-items: center;
            .rating {
                display: flex;
                align-items: baseline;
                font-size: 48px;
                line-height: 1;
                font-weight: bold;
                color: $rs-black;
                padding-right: 17px;
                @include media-breakpoint-up(md) {
                    line-height: 65px;
                    padding-right: 30px;
                }
            }
            .rating-total {
                font-size: 20px;
                line-height: 27px;
            }
            .rating-list {
                display: flex;
                padding: 0;
                margin: 0;
                .star {
                    padding-left: 3px;
                    list-style: none;
                    // img {
                    //     object-fit: contain;
                    //     height: 22px;
                    // }
                    i {
                        font-size: 22px;
                    }
                    &:first-of-type {
                        padding-left: 0;
                    }

                    @include media-breakpoint-up(md) {
                        img {
                            height: 27px;
                        }
                        padding-left: 5px;
                    }
                }
            }
        }

        .aditional-block {
            display: none;
            flex-wrap: wrap;
            padding-top: 10px;
            align-items: center;
            @include media-breakpoint-up(md) {
                display: flex;
            }
            .name {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: rgba(0, 0, 0, 0.8);

                padding-right: 30px;
            }
            .description {
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: $rs-black;
            }
        }
        .rs-button-with-number {
            padding-top: 22px;
            justify-content: unset;

            @include media-breakpoint-up(lg) {
                padding-top: 45px;
                // padding-right: 10%;
                .simple-card-block {
                    padding: 5px 15px 5px 5px;
                }
            }
            .simple-card-block {
                font-weight: bold;
                font-size: 14px;
                line-height: 19px;
                min-height: 49px;
                margin: 0;
                margin-right: 20px;
                text-transform: capitalize;
                margin-bottom: 9px;
            }
        }
    }
	
	.rs-info-block {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 25px;
		.info-item {
			display: flex;
			align-items: center;
			font-weight: bold;
			font-size: 13px;
			line-height: 18px;
			color: $rs-black;
			margin-right: 60px;
			margin-bottom: 15px;
			&:last-of-type {
				margin-right: 0;
			}
			img {
				margin-right: 16px;
				height: 36px;
				object-fit: contain;
			}
		}
	}
	
/*Sticky mobile menu*/
	
    .sticky-mobile-menu {
		 position: fixed;
		 left: 0;
		 top: calc(100% - 66px);
		 width: 100vw;
		 z-index: 1000;
		 
		.sticky-inner{
        display: flex;
        background: #F5F7F8;
        padding: 13px 0;
        justify-content: space-around;
        align-items: center;
        z-index: 12;
        * {
            order: unset;
        }
        .price {
            font-size: 22px;
            line-height: 1;
            color: #8CC740;
            font-weight: bold;
        }
        .old-price {
            font-size: 18px;
            line-height: 1;
            font-weight: bold;
            display: none;
            span {
                font-weight: normal;
                font-size: 10px;
                line-height: 1;
            }
            @media (min-width: 375px) {
                display: block;
            }
        }
        .yellow-dashed-label {
            display: flex;
            font-size: 12px;
            line-height: 16px;
            width: max-content;
            padding: 0 15px;
            height: 31px;
            margin: 0;
        }
        .btn-cta-arw {
            font-size: 13px;
            line-height: 18px;
            width: 94px;
            height: 40px;
            margin: 0;
            min-width: unset;
            max-width: unset;
        }


        @media (min-width: 576px) {
            display: none;
        }
		}
    }
	
	/*list item on the Single provider page*/
	
	.providers-banner-section {
	    position: relative;
	    .h1 {
	        font-weight: 800;
	        font-size: 26px;
	        line-height: 100%;
	        text-transform: capitalize;
	        text-align: left;
	        padding-left: 0;
	        @include media-breakpoint-up(md) {
	            font-size: 50px;
	            line-height: 81px;
	        }
	    }
	    .lg-hide {
	        display: block;
	        order: 0;
	        padding-left: 30px;
	        @include media-breakpoint-up(lg) {
	            display: none;
	        }
	    }
	    .relative-block {
	        position: relative;
	    }



	    .sticky-block {
	        order: 1;
	        background: white;
	        @include media-breakpoint-up(lg) {
	            width: 300px;
	            right: 0;
	            position: sticky;
	            right: 0;
	            top: 0;
	            order: unset;
	            padding: 0;
	        }


	        .provider-item {
	            margin: 0 15px;
	            @include media-breakpoint-up(lg) {
	                margin: 55px 0 15px ;
	            }
	            @media (min-width: 1200px) {
	                margin: 105px 0 15px 17%;
	            }
	            .provider-logo-block {
	                .logo-block {
	                    top: unset;
	                    height: 35px;
	                }
	            }
	            .online-info-content .info-block:last-of-type {
	                padding: 0;
	            }
			}
			
			@media (min-width: 992px) {
				&.short {
					.label-block,
					.provider-name,
					.rating,
					.description-block,
					.rs-speciality,
					.rs-speciality,
					.provider-additional-block {
						display: none;
					}
				}
			}

	    }
    
	    .collapse-section {
	        order: 3;
	        @include media-breakpoint-up(lg) {
	            order: unset;
	        }
	    }

	    .content-section {
	        order: 4;
	        @include media-breakpoint-up(lg) {
	            order: unset;
	        }
	        .content-img {
	            width: 100%;
	            object-fit: contain;
	            margin-bottom: 15px;
	        }
	    }

	    .collapse-section {
	        .h3 {
	            font-weight: 800;
	            font-size: 26px;
	            line-height: 42px;
	            text-align: center;

	            @include media-breakpoint-up(lg) {
	                text-align: left;
	                font-size: 32px;
	                line-height: 41px;
	                padding-left: 30px;
	            }
	        }
	        .rs-search-input-block {
	            height: 56px;
	            margin-bottom: 45px;
	            // max-width: calc(100% - 30px);
	            @include media-breakpoint-up(md) {
	                margin: 0;
	                margin-bottom: 50px;
	            }
	        }

	        .collapse-card {
	            border-radius: 30px;
	            // box-shadow: $box-shadow-light;
	            box-shadow: 3px 3px 17px 6px rgba(0, 0, 0, 0.06);
	            margin-bottom: 30px;
	            .collapse-btn {
	                position: relative;
	                width: 100%;
	                display: flex;
	                border: none;
	                outline: none;
	                background: transparent;
	                flex-direction: column;
	                padding: 22px 40px;
	                @include media-breakpoint-up(md) {
	                    align-items: center;
	                    flex-direction: row;
	                    padding: 17px 84px 17px 68px;
	                }
	                .collapse-name {
	                    display: flex;
	                    align-items: center;
	                    margin-right: auto;
	                    font-weight: bold;
	                    font-size: 16px;
	                    line-height: 141.7%;
	                    @include media-breakpoint-up(md) {
	                        font-size: 20px;
	                    }
	                    .collapse-label {
	                        display: flex;
	                        justify-content: center;
	                        align-items: center;
	                        height: 24px;
	                        padding: 0 16px;
	                        margin-left: 30px;
	                        background: $rs-grey-1;
	                        color: $rs-white;
	                        border-radius: 30px;
	                        text-transform: uppercase;
	                        font-size: 10px;
	                        line-height: 1;
	                        font-weight: 800;
	                        &.green {
	                            background: $rs-green;
	                        }
	                    }
	                }
	                .collapse-description {
	                    font-size: 18px;
	                    line-height: 25px;
	                    text-align: right;
	                    color: $rs-grey-19;
	                    font-weight: 600;
	                    font-size: 12px;
	                    line-height: 16px;
	                    margin-top: 5px;
	                    @include media-breakpoint-up(md) {
	                        margin-top: unset;
	                        font-weight: bold;
	                        font-size: 18px;
	                        line-height: 25px;
	                        span {
	                            color: $rs-blue;
	                        }
	                    }
	                }
	                i {
	                    position: absolute;
	                    right: 25px;
	                    font-size: 12px;
	                    object-fit: contain;
	                    transition: 0.4s;
	                    transform: rotate(-90deg);
	                    top: 35%;
	                    @include media-breakpoint-up(md) {
	                        right: 40px;
	                    }
	                }
	                &.collapsed {
	                    i {
	                        transform: rotate(90deg);
	                    }
	                }
	            }
	            .h5 {
	                text-align: left;
	                font-weight: bold;
	                font-size: 22px;
	                line-height: 30px;
	                color: rgba(0, 0, 0, 0.8);
	                margin-bottom: 25px;
	            }
	            h6 {
	                text-align: left;
	            }
	            .table-price {
	                margin-bottom: 11px;
	            }
	               .card {
	                    padding: 30px;
	                    transition: 0.4s;
	                    overflow-x: hidden;
	                    @include media-breakpoint-up(lg) {
	                        padding: 60px 30px 15px 97px;
	                    }
                 
	               }
	        }
	    }
	}
}
