.banner-condition-section {
    .h2 {
        font-weight: 800;
        text-transform: capitalize;
        font-size: 26px;
        line-height: 130%;
        text-align: left;
        margin-bottom: 15px;
        @media (min-width: 768px) {
            font-size: 50px;
            line-height: 81px;
            text-align: center;
        }
    }
    .banner-description {
        display: block;
        max-width: 600px;
        text-align: left;
        font-size: 16px;
        line-height: 26px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 38px;
        @media (min-width: 768px) {
            text-align: center;
            margin: 0 auto 45px;
        }
    }

 

    .card-body {
        box-shadow: none;
    }
}
.carousel-section {   
    padding-bottom: 35px;
    .owl-carousel {
        margin-top: 20px;
        .owl-item {
            padding-left: 13px;
            padding-right: 13px;
            // &.active:nth-child(even) {
            //     padding-left: 0;
            //     padding-right: 0;
            // }
        }
    }
}
.dr-header {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    position: relative;
    // margin-right: -15px;
    // @media (min-width: 992px) {
    //     margin-right: 85px;
    //  }
    .dr-img {
        position: absolute;
        display: none;
        bottom: -57px;
        object-fit: contain;
        z-index: 2;
        @media (min-width: 992px) {
            display: block;
            left: 17%;
        }
        // @media (min-width: 1200px) {
        //     left: 16%;
        // }
        // @media (min-width: 1400px) {
        //     left: 26%;
        // }
    }
}
.header-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    @media (min-width: 768px) {
        align-items: center;
        // margin-left: 100px;
        text-align: center;
    }
    img {
        margin: auto;
    }
    .h3 {
        font-weight: 800;
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 15px;
        @media (min-width: 768px) {
            font-size: 35px;
            line-height: 57px;
        }
    }
    .description {
        display: block;
        font-size: 16px;
        line-height: 22px;
        max-width: 386px;
        margin-bottom: 25px;
        @media (min-width: 768px) {
        }
    }
}

.owl-stage {
    left: -30px;
    @media (min-width: 768px) {
        left: unset;
    }
}
.owl-carousel .owl-nav {
    .owl-prev,
    .owl-next {
        display: none;
        outline: none;
        position: absolute;
        right: -95px;
        top: 43%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $rs-grey-13 !important;
        box-shadow: $box-shadow-heavy;
        transition: 0.4s ease-in-out;
        &:hover {
            box-shadow: $box-shadow-light;
        }
        &::before {
            content: url(../img/prev.svg);
            position: absolute;
            width: 22px;
            left: 32px;
            top: 57%;
            transform: translate(-50%, -50%);
            opacity: 0.7;
        }
        @media (min-width: 768px) {
            display: block;
        }
    }

    .owl-prev {
        right: 0;
        left: -30px;
        top: 43%;
        &::before {
            transform: rotate(-180deg);
            left: 19px;
            top: 21%;
        }
    }
}
