
.side-info-card {
    // display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: max-content;
    padding: 54px 30px;
    margin-bottom: 20px;
    margin-top: 35px;
    &::before {
        display: none;
        content: "";
        position: absolute;
        top: 0;
        left: -15px;
        width: 52%;
        height: 100%;
        background-image: linear-gradient(90deg, #f5f7f8 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 0;
        z-index: 0;
    }
    * {
        z-index: 1;
    }
    @include media-breakpoint-up(md) {
        display: flex;
        padding: 54px 0px 55px 34px;
        &::before {
            display: block;
            border-radius: 20px;
            left: -23px;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: unset;
    }

    .card-info-img {
        object-fit: contain;
        height: 57px;
        margin-bottom: 20px;
    }

    .h5 {
        font-weight: 800;
        font-size: 26px;
        line-height: 130%;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 13px;
    }

    .side-info-description {
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 35px;
    }
    .card-label-block {
        display: flex;
        padding: 14px 18px;
        background: $rs-white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
        border-radius: 10px;
        align-items: center;
        margin-bottom: 12px;
        transition: 0.4s;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            box-shadow: $box-shadow-heavy;
        }
        * {
            cursor: pointer;
        }

        .card-label-img {
            object-fit: contain;
            height: 55px;
            margin-right: 10px;
        }
        .label-name {
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: $rs-blue;
            margin-bottom: 5px;
        }
        .label-numb {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-left: auto;
            background: $rs-green;
            width: 32px;
            height: 31px;
            font-size: 14px;
            line-height: 19px;
            color: $rs-white;
            font-weight: 600;
            font-size: 11px;
            line-height: 15px;
            color: $rs-black;
            background: 0;
            padding: 0;
            margin: 0;
            width: max-content;
            height: unset;
            text-align: left;
        }
    }
}
