/*------------- Review Section -------------*/
.provider-section
{
	padding-bottom: 60px;
	.card-provider
	{
		margin: 0 auto;
		border-radius:30px;
		box-shadow: $box-shadow-light;
		margin-bottom: 20px;
		margin-right: 20px;
		.card-body
		{
			padding: 20px;
		}
		.provider-logo
		{
			min-height: 60px;	
			vertical-align: middle;
		}
		.provider-title
		{
			font-size: 18;
			font-weight: 600;
		}
		.provider-category
		{
			font-size: 13;
			color:#54585A;
		}
		.row
		{
			padding-top: 10px;
		}
		.provider-stars
		{ 
			
			.star
			{
				display: block;
				float: left;
				height: 14px;
				width:14px;
				text-align: center;
				vertical-align: middle;
				background: url('../img/star.svg');
			}
		}
		.provider-more{
			.link{
				font-size: 10px;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
	.review-right-info{
		text-align: center;
		padding: 30px;
	}
}



@include media-breakpoint-up(md){
	.provider-section
	{
		.review-right-info{
			text-align: left;
			padding: 20px;
		}
	}
}


/*Text block*/

.text-block{
	padding: 0 20px 40px 20px;
	p{
		line-height: 1.6;
	}
}

@include media-breakpoint-up(md){
	.text-block{
		padding: 0 60px 60px 60px;
	}
}
