/*Table of Contents*/

/*All categories
/*Single category
/*Single provider
/*About us

/*TOC*/

.rs-toc {
	width: 100%;
	background: $rs-grey-5;
	padding: 12px 20px;
	margin-bottom: 32px;
	border-radius: 8px;
	@include media-breakpoint-up(md) 
	{
		padding: 24px 30px 8px;
	}

	.rs-block-toc {
		.toc-h2 {
			margin-left: 0;
			color: rgba(0, 0, 0, 1);
		}
		.toc-h3 {
			margin-left: 16px;
			color: rgba(0, 0, 0, 0.8);
		}
		.toc-h4 {
			margin-left: 24px;
			color: rgba(0, 0, 0, 0.6);
		}
		.toc-h5 {
			margin-left: 32px;
			color: rgba(0, 0, 0, 0.4);
		}
		.toc-h6 {
			margin-left: 40px;
			color: rgba(0, 0, 0, 0.3);
		}
	}

	.rs-toc-title{
		color: $style1;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 600;
		padding-bottom: 24px;
	}
	ul.auto-toc{
		padding-left: 0;
	}
	.list-item {
		font-weight: 600;
		font-size: 16px;
		line-height: 1.4;
		list-style: none;
		margin-bottom: 6px;
		@include media-breakpoint-up(md) 
		{
			margin-bottom: 16px;
		}
	}
	a{
		color: #000;
		text-decoration: none;
	}
}

