.rs-about 
{
	.banner-color-section .banner-caption-block .h1 
		{
			font-size: 30px;
			@include media-breakpoint-up(md) {
    			font-size: 50px;
    			line-height: 1.4;
			}
		}
	
    .h2 {
        font-weight: 800;
        font-size: 20px;
        line-height: 1.4;
        color: $rs-black;
        @include media-breakpoint-up(md) {
            margin-bottom: 8px;
            font-size: 35px;
        }
    }

    p {
        font-size: 16px;
        line-height: 1.6;
        color: $rs-black-80;
        @include media-breakpoint-up(md) {
            font-size: 16px;
        }
    }
	
	.rs-footer-first .h2{
		font-size: 26px;
	}
}

.about-banner-section {
    // background: $rs-yellow;
    padding: 30px 15px;
    text-align: left;
    .container {
        position: relative;
        .row {
            position: relative;
            z-index: 1;
        }
    }
    .about-banner-img {
        display: none;
        position: absolute;
        bottom: -30px;

        z-index: 0;
        @include media-breakpoint-up(md) {
            display: block;
            right: -7%;
        }
        @include media-breakpoint-up(lg) {
            right: -2%;
        }
        @media (min-width: 1200px) {
            right: 11%;
        }
    }

    @include media-breakpoint-up(sm) {
        text-align: center;
        padding: 20px 0 30px;
    }

    .breadcrumb {
        background-color: transparent;
        @include media-breakpoint-up(sm) {
            padding-left: 54px;
        }
        .breadcrumb-item,
        .breadcrumb-item a {
            font-size: 14px;
            color: $rs-blue;
        }
    }

    .about-name {
        text-align: left;
        font-family: "Catamaran";
        font-size: 20px;
        line-height: 32px;
        text-transform: uppercase;
        color: $rs-blue;
        padding: 10px 0 0;
        margin: 15px 0;

        @include media-breakpoint-up(sm) {
            text-align: center;
            margin: 20px auto 2px;
        }
    }

    .provider-logo {
        height: 48px;
        width: auto;
        margin: auto;
    }

    .about-description {
        font-family: "Catamaran";
        font-weight: 800;
        font-size: 26px;
        text-align: left;
        color: $rs-black;
        line-height: 130%;
        font-size: 30px;
        margin: 20px auto;
        line-height: 1.4;

        @media (min-width: 576px) {
            text-align: center;
            margin: 45px auto 50px;
            font-size: 50px;
            line-height: 60px;
            margin: 24px auto 56px;
        }
    }
}

.page-nav-section {
    background-color: $rs-grey-5;
    .nav-list {
        margin: 0;
        padding: 12px 0;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
        .nav-item {
            list-style: none;
            padding: 0;

            a {
                font-size: 16px;
                color: $rs-black;
                padding: 0 20px;
                border-right: 1px solid $rs-black;
                transition: 0.4s ease-in-out;

                &:hover {
                    color: $rs-blue;
                }
                @media (max-width: 992px) {
                    padding: 0 8px;
                }
                @media (max-width: 768px) {
                    border-right: none;
                    font-weight: 600;
                    padding: 5px 0;
                }
            }
            &:last-of-type a {
                border: none;
            }
        }

        @include media-breakpoint-up(md) {
            align-items: center;
            flex-direction: row;
        }
        @media (max-width: 576px) {
            align-items: flex-start;
            padding: 25px;
        }
    }
}

.mission-section {
    padding-top: 32px;
    @include media-breakpoint-up(lg) {
        padding: 32px 15px 32px;
    }

    .mission-description {
        height: max-content;
        p {
            padding: 0;
            margin: 0;
        }
        @media (max-width: 1200px) {
            padding: 35px 30px 35px 30px;
        }
        @media (max-width: 992px) {
            order: 1;
        }
        @media (max-width: 576px) {
            padding: 0 15px;
            background: transparent;
        }
    }

    .mission-img {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
            margin: 20px auto;
            @include media-breakpoint-up(lg) {
                margin: 0;
            }
        }
    }
}

.rs-about{
	.guides-section{
		background-color: $bg1;
		.rs-description{
			color: $rs-black;
		}
		.card-guides{
			background-color: $rs-white;
		}
		.btn-cta{
			font-size: 16px;
		}
	}
}

.categories-section {
    background: $rs-grey-6;
    margin-top: 60px;
    padding: 30px 0;
    @include media-breakpoint-up(md) {
        margin-top: 120px;
        padding-top: 75px;
        padding-bottom: 95px;
    }

    .h2 {
        line-height: 42px;
        margin-bottom: 14px;
    }

    .descrition-capitalize {
        text-transform: capitalize;
        font-size: 20px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 25px;
    }

    .btn-cta {
        margin-bottom: 25px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
        &.mobile {
            margin-top: 15px;
        }
    }

    .mobile {
        .simple-card {
            width: 100%;
        }
        display: flex;
        @media (min-width: 576px) {
            display: none;
        }
    }
    .desctop {
        width: max-content;
        display: none;
        @media (min-width: 576px) {
            display: flex;
        }
    }
}

.adition-block {
    background: $rs-yellow;
    padding: 32px 30px 32px;
    margin-top: 32px;
	
    @include media-breakpoint-up(md) {
        padding: 50px 45px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 32px;
        padding: 40px 80px;
    }
    .h3 {
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3;
        color: $rs-black;
        padding: 0;
        margin-bottom: 10px;
		@include media-breakpoint-up(md) {
            font-size: 28px;
		}
    }
}

.team-section {
    padding-top: 32px;
    padding-bottom: 20px;
    @include media-breakpoint-up(md) {
        padding-top: 32px;
        padding-bottom: 6px;
    }
    .h2 {
        padding: 0 25px;
        margin-bottom: 32px;
        text-align: left;
        @include media-breakpoint-up(md) {
            padding: 0;
            text-align: center;
            margin-bottom: 32px;
        }
    }

    .team-member {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        flex-wrap: wrap;
        padding: 0 40px;
        // flex-direction: column;
        @include media-breakpoint-up(md) {
            padding: 0 15px;
			margin-bottom: 60px;
            justify-content: unset;
        }
        .member-img {
            width: 80px;
            height: 80px;
            border-radius: 15px;
            object-fit: cover;
            margin-right: 15px;
            @include media-breakpoint-up(lg) {
                height: 172px;
                width: 30%;
                border-radius: 32px;
                margin-right: auto;
            }
        }
        .member-name {
            display: flex;
            flex-direction: column;
            width: 75%;
            display: block;
            padding-left: 0;
            width: max-content;
            @include media-breakpoint-up(lg) {
                display: none;
                padding-left: 20px;
                width: unset;
            }
            .name {
                font-weight: 800;
                font-size: 22px;
                line-height: 35px;
                text-transform: capitalize;
                color: $rs-black;
                margin: 0;
            }

            .position {
                font-weight: bold;
                font-size: 14px;
                line-height: 19px;
                text-transform: uppercase;
                color: $rs-blue;
            }
        }

        .member-description {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            align-items: baseline;
            margin-top: 25px;
            @include media-breakpoint-up(lg) {
                width: 70%;
                padding-left: 20px;
                margin-top: 0;
            }
            .position,
            .name {
                display: none;
                @include media-breakpoint-up(lg) {
                    display: block;
                }
            }
            .name {
                font-style: normal;
                font-weight: 800;
                font-size: 22px;
                line-height: 35px;
                text-transform: capitalize;
                margin: 0;
            }

            .position {
                font-weight: bold;
                font-size: 14px;
                line-height: 19px;
                text-transform: uppercase;
                color: $rs-blue;
                margin-bottom: 10px;
            }
            .description {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: $rs-black;
                margin-bottom: 15px;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }

            .link-block {
                display: flex;
                padding: 0;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $rs-grey-3;
                    width: 28px;
                    height: 26px;
                    border-radius: 7px;
                    margin-right: 13px;
                    transition: 0.4s ease-in-out;
                    text-decoration: none;
                    i {
                        color: $rs-white
                    }
                    &.twitter {
                        background: $rs-blue;
                    }
                    &.linkedin {
                        background: $rs-blue-5;
                    }
                    svg {
                        fill: $rs-white;
                        width: 60%;
                    }
                    &:hover {
                        background: $rs-grey-3;
                        box-shadow: $box-shadow-heavy;
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
.terms-section {
    padding: 35px 15px 0;
    @media (min-width: 576px) {
        padding: 0;
        padding-top: 32px;
    }

    @include media-breakpoint-up(lg) {
        padding-top: 48px;
    }

}

.form-section {
    padding: 32px 0 40px;
    .form-img-block {
        display: none;
        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .form-img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .form {
        background: $bg1;
        border-radius: 30px;
        padding: 30px 20px;
        @include media-breakpoint-up(md) {
            padding: 36px 85px 65px;
        }
        .h2 {
            margin-bottom: 0;
            text-align: center;
            margin-bottom: 27px;
        }
        .form-input,
        .form-textarea {
            width: 100%;
            background: $rs-white;
            height: 48px;
            display: flex;
            align-items: center;
            padding: 0 22px;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: $rs-blue;
            border: none;
            border-radius: 30px;
            margin-bottom: 32px;

            &::placeholder {
                color: $rs-blue;
            }
        }
        .form-textarea {
            height: 164px;
            resize: none;
            padding: 22px;
            margin-bottom: 30px;
        }
        .send-block {
            display: flex;
            // justify-content: space-between;
            align-items: center;
            flex-direction: column;
            @include media-breakpoint-up(md) {
                flex-direction: row;
            }
            .btn-cta-arw {
                margin-left: auto;
                margin-right: auto;
				min-width: unset;
            }
        }
    }
}

.rs-about{
	.rs-address{
		padding: 20px;
	}
	.form-img{
		padding-top: 20px;
		padding-bottom: 30px;
		@include media-breakpoint-up(md) {
		 padding-top: 0;	
		}
	}
}

.advertising-section {
    padding: 32px 15px 20px;
    @include media-breakpoint-up(md) {
        padding: 0;
        padding-top: 6px;
        padding-bottom: 32px;
    }
    .h2 {
        margin-bottom: 0;
    }
}
// .border-rounded {
//     border-radius: 30px;
// }

// input.contact-input {
//     height: 50px;
//     padding-left: 1rem;
//     margin-bottom: 2rem;
// }

// textarea.contact-input {
//     height: 100px;
//     padding-left: 1rem;
//     margin-bottom: 2rem;
//     resize: none;
// }

// input.contact-input::placeholder,
// textarea.contact-input::placeholder {
//     color: #007bff;
//     font-weight: bold;
// }

// input.contact-input:focus,
// input.contact-input:selected,
// textarea.contact-input:focus,
// textarea.contact-input:selected {
//     border: 2px solid #007bff;
//     font-weight: bold;
// }
