/*RS Styling*/

h1,
h2,
h3,
h4,
h5,
h6
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Catamaran", sans-serif;
	font-weight: 800;
	cursor: default;
	span {
		color: $style1;
	}
}
p,
span,
div {
	cursor: default;
}

h1 {
	font-size: 28px;
	text-align: center;
	padding: 1rem;
}

body {
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
}

@include media-breakpoint-up(md) {
	h1 {
		font-size: 50px;
		padding: 1rem 3rem;
		line-height: 1.4;
	}
}




.rs-h1 {
	margin-top: 22px;
	padding-bottom: 0px;
	font-size: 22px;
	line-height: 1.2;
	margin: auto;
	@include media-breakpoint-up(md) {
		margin-top: 32px;
		font-size: 50px;
		line-height: 1.3;
	}
}

.rs-description{
	text-align: center;
	font-size: 16px;
	max-width: 320px;
	line-height: 1.4;
	margin: 10px auto 40px;
	 @include media-breakpoint-up(md) {
		font-size: 22px;
		padding-bottom: 20px;
	 	margin: 0px auto 32px;
		max-width: 840px;
	 }
     span {
         color: $style1;
     }
}


/*Page All Guides*/

.section-header {
	text-align: center;
	.logo-icon {
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		margin-bottom: 26px;
		display: inline-block;
		@include media-breakpoint-up(md) {
			margin-right: unset;
			// margin-left: -50px;
		}
		i {
			font-size: 32px;
		}
		img {
			height: 32px;
		}


		span {
			// padding-top: 4px;
			padding-left: 10px;
			color: $rs-blue;
			text-transform: uppercase;
			font-size: 18;
			font-weight: 700;
		}
	}
	.h2 {
		font-size: 22px;
		line-height: 36px;
		margin: auto;
		@include media-breakpoint-up(md) {
			font-size: 35px;
			line-height: 57px;
		}
	}
}


.link {
	color: $rs-blue;
}


.btn,
.btn:hover,
.btn:focus {
	outline: none;
	box-shadow: none;
}

.news-sidebar-third .btn-pink,
.btn-pink,
.btn-cta-arw {
	display: flex;
	width: max-content;
	min-width: 173px;
	max-width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 42px;
	position: relative;
	background-color: $rs-pink;
	border-radius: 30px;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	color: $rs-white;
	padding-left: 28px;
	padding-right: 40px;
	margin: 15px auto 0;
	text-decoration: none;
	font-weight: 700;
	&.btn-small {
		height: 32px;
		font-size: 12px;
	}

	i {
		font-size: 12px;
		transition: 0.4s ease-in-out;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translate(0, -50%);
	}
	&:hover {
		color: $rs-white;
		text-decoration: none;
		i  {
			right: 16px;
		}
	}
}

.btn-cta-arw {
	background-color: $rs-purple;
}


.btn-grey {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	text-transform: capitalize;
	// color: $rs-black;
	color: rgba(0, 0, 0, 0.8);
	width: 232px;
	height: 50px;
	transition: 0.4s;
	min-width: max-content;
	padding: 0 20px;
	background: $rs-grey-13;
	border-radius: 30px;
	max-width: 100%;
	&:hover {
		box-shadow: $box-shadow-heavy;
	}

	&.btn-small {
		height: 40px;
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		margin-top: 15px;
		margin-bottom: 15px;
		@include media-breakpoint-up(lg) {
			margin-bottom: unset;
		}
		i {
			font-size: 12px;
			margin-left: 15px;
			transform: rotate(0deg);
			transition: 0.4s;
		}

		&.collapsed {
			i {
				transform: rotate(-90deg);
			}
		}
	}
}

/*
.btn-cta {
	display: inline-block;
	margin-top: 12px;
	background-color: $rs-yellow;
	border-radius: 50px;
	padding: 1rem 4rem 1rem 2rem;
	font-weight: 600;
	font-size: 18;
	text-transform: uppercase;
	text-decoration: none;
	color: $rs-black;
	background-image: url("../svg/arrow-black.svg");
	background-repeat: no-repeat;
	background-position: 90% 50%;
	box-shadow: $box-shadow-light;
	transition: all 200ms ease;
	&:hover {
		text-decoration: none;
		color: $rs-black;
		box-shadow: $box-shadow-heavy;
		background-position: 93% 50%;
	}
}
*/

.btn-cta {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	color: $rs-white;
	background: $style1;
	border-radius: 30px;
	padding: 14px 28px;
	transition: 0.4s;
	&:hover {
		color: $rs-white;
		box-shadow: $box-shadow-heavy;
	}
}

.btn-compare {
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	text-decoration-line: underline;
	color: $rs-black;
	transition: 0.4s ease-in-out;
	&:hover {
		opacity: 0.8;
		color: $rs-black;
	}
}



.link-cap {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.card {
	border: none;
	padding: none;
	border-radius: 12px;
	// box-shadow: $box-shadow-light;
	// single-provider

	@media (min-width: 576px) {
		border-radius: 32px;
	}
}

//Font size
.fs-sm {
	font-size: 10px;
}

//Font weight
.fw-400 {
	font-weight: 400;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.fw-800 {
	font-weight: 800;
}



.color-white {
	color: $rs-white;
}

/*helpers*/
.text-center {
	text-align: center;
}

.link {
	color: $rs-blue;
	text-decoration: underline;
}

.link-white {
	color: $rs-white;
	&:hover {
		color: $rs-white;
		text-decoration: none;
	}
}

/*Flags*/
.flag {
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0 30px 30px 0;
	color: $rs-white;
	font-size: 14px;
	padding: 1rem 1.25rem 0.8rem;
}

.shadow-top {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 140px;
		left: 0px;
		top: 0;
		z-index: 0;
		background: linear-gradient(180deg, #f5f7f8 0%, rgba(255, 255, 255, 0) 100%);
	}
}

/*TOC*/

.rs-content-section .rs-block-toc{
	.toc-h3{
		margin-left: 15px;
		color: rgba(0,0,0,1);
	}
	.toc-h4{
		margin-left: 15px;
		color: rgba(0,0,0,0.8);
	}
	.toc-h5{
		margin-left: 30px;
		color: rgba(0,0,0,0.6);
	}
	.toc-h6{
		margin-left: 45px;
		color: rgba(0,0,0,0.4);
	}
}


.rs-review {
    .btn-cta {
        max-width: 100%;
        display: flex;
        align-items: center;
        height: 50px;
        width: 225px;
        background-color: $rs-pink;
        flex-wrap: nowrap;
        color: $rs-white;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        padding: 0;
        padding-left: 20px;
        background-image: url(../svg/arrow-white.svg);
    }
    .h3 {
        font-size: 18px;
        line-height: 22px;
        color: $rs-blue-1;
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 16px;
        text-align: center;
        @media (min-width: 576px) {
            text-align: left;
        }
    }

    .h4 {
        font-weight: 800;
        font-size: 22px;
        line-height: 35px;
        margin-bottom: 8px;
        text-transform: uppercase;
        &.blue {
            color: $rs-blue-1;
        }
        span {
            color: $rs-red;
        }
    }

    .h5 {
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
    }
    .review-banner-section {
        padding: 10px 0 68px;
        .h1 {
            font-weight: 800;
            font-size: 25px;
            line-height: 40px;
            padding: 0;
            text-align: left;
            padding: 35px 0;
            @include media-breakpoint-up(md) {
                padding: 22px 53px 14px;
                font-size: 50px;
                line-height: 81px;
            }
        }

        .review-container {
            justify-content: space-between;
            .good-card {
                padding: 40px 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 20px;
                height: max-content;
                box-shadow: 5px 3px 20px 0px rgba(0, 0, 0, 0.1);
                margin-left: auto;
                margin-right: auto;
                @media (min-width: 576px) {
                }
                @include media-breakpoint-up(md) {
                }
                @include media-breakpoint-up(lg) {
                }
                .card-img {
                    width: auto;
                    max-width: 250px;
                    margin-bottom: 28px;
                }
                .list {
                    margin-bottom: 27px;
                    .item {
                        font-size: 14px;
                        line-height: 27px;
                        list-style-image: url(../svg/mini-checkbox.svg);
                    }
                }
                .price-block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 14px;
                    .price {
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 1;
                        color: $rs-green-2;
                    }
                    .yellow-dashed-label {
                        font-size: 18px;
                        width: 130px;
                        margin-left: 9px;
                        text-transform: uppercase;
                        margin-bottom: 0;
                        @include media-breakpoint-up(md) {
                            width: 157px;
                            margin-left: 15px;
                        }
                    }
                }
                .btn-cta {
                    width: 250px;
                    font-size: 16px;
                    text-transform: uppercase;
                }
            }

            .good-info-block {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 48px;
                padding: 0 10px;
                @media (min-width: 576px) {
                    padding: 0;
                }
                @include media-breakpoint-up(lg) {
                    margin: 0;
                }
                .category-bloc {
                    .doctor-list {
                        display: flex;
                        flex-wrap: wrap;
                        padding-left: 20px;
                        text-align: center;
                        justify-content: space-between;
                        .item {
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 16px;
                            text-transform: uppercase;
                            list-style: none;
                            // padding-left: 10px;
                            width: 50%;
                            margin: 15px 0 0;
                            // padding-right: 20px;
                            min-width: max-content;

                            // max-width: 50%;
                            // width: max-content;
                            &::before {
                                content: url(../svg/doctor.svg);
                                margin-right: 10px;
                            }
                            // &:nth-child(even) {
                            //     padding-right: 0;
                            // }
                            @media (min-width: 1200px) {
                                margin: 15px 0;
                            }
                            @media (max-width: 375px) {
                                width: 100%;
                            }
                        }
                        @media (min-width: 576px) {
                            padding: 0;
                        }
                    }
                }
                .rating-block {
                    align-items: center;
                    padding-top: 0;
                    padding-bottom: 0;
                    text-align: center;
                    margin-top: 20px;
                    .h3 {
                        text-align: center;
                    }
                    .rating-mark {
                        padding: 0 0 13px;
                        display: block;
                    }
                    .rating-list {
                        display: flex;
                        padding: 0;
                        margin: 0;
                        .star-item {
                            padding-left: 5px;
                            list-style: none;
                            &:first-of-type {
                                padding-left: 0;
                            }
                        }
                    }
                    @media (min-width: 576px) {
                        margin-top: 0;
                        text-align: right;
                        align-items: flex-end;
                        .h3 {
                            text-align: right;
                        }
                    }
                }
            }
        }
        .description-block {
            margin: 15px 0 0;
            padding: 0 10px;
            text-align: center;
            @media (min-width: 576px) {
                margin: 0;
                padding: 0;
                text-align: left;
            }
            @media (min-width: 1200px) {
                margin-top: 14px;
            }
            p {
                font-size: 16px;
                line-height: 26px;
                @include media-breakpoint-up(lg) {
                    padding-right: 27px;
                }
            }
        }
    }
}

.complete-information-section {
    padding-bottom: 40px;
    margin-bottom: 33px;
    @include media-breakpoint-up(md) {
        padding-bottom: 57px;
    }
    .shadow-container {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
        border-radius: 32px;
        padding: 50px 0 20px;
        @include media-breakpoint-up(md) {
            padding: 50px 0;
        }
        &.p-top {
            padding-top: 40px;
            @include media-breakpoint-up(md) {
                padding-top: 110px;
            }
        }
        &.p-small {
            padding-top: 35px;
        }
        &.mp {
            margin-top: 100px;
            padding-top: 67px;
            .mt {
                margin-top: 65px;
            }
        }
    }
    .info-header {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-info {
            max-width: 54px;
            @include media-breakpoint-up(md) {
                max-width: unset;
            }
        }
        .info-header {
            font-weight: 700;
            font-size: 22px;
            line-height: 36px;
            text-transform: uppercase;
            padding: 0 10px;
            margin: 0;
            @include media-breakpoint-up(md) {
                font-size: 35px;
                line-height: 57px;
                padding: 0 30px;
            }
        }
    }

    .page-banner {
        // margin-top: 20px;
        position: relative;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 23px 40px;
        margin-bottom: 60px;
        @media (min-width: 1200px) {
            padding: 0 46px;
        }
        @include media-breakpoint-up(lg) {
            padding: 0 30px;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        &::before {
            content: "";
            border-radius: 35px;
            position: absolute;
            top: 0%;
            left: 30px;
            z-index: -1;
            width: calc(100% - 60px);
            height: 356px;
            display: block;
            background-color: $rs-yellow;
            @include media-breakpoint-up(lg) {
                
                left: 15px;
                z-index: -1;
                width: calc(100% - 30px);
                height: 155px;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        .banner-logo {
            img {
            }
        }
        .price-block {
            padding: 0 10px;
            .price {
                font-weight: 700;
                font-size: 75px;
                line-height: 1;
                color: $rs-green-2;
                text-transform: uppercase;
                @media (min-width: 1200px) {
                    font-size: 90px;
                }
            }
            .description {
                font-weight: 700;
                font-size: 12px;
                line-height: 19px;
                text-transform: uppercase;
                padding: 20px 0;
                @include media-breakpoint-up(lg) {
                    padding: 0;
                }
                @media (min-width: 1200px) {
                    font-size: 14px;
                }
            }
        }
        .banner-card {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
            border-radius: 48px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $rs-white;
            padding: 50px 28px 32px;
            @include media-breakpoint-up(lg) {
                padding: 40px 20px 30px;
            }
            @media (min-width: 1200px) {
                padding: 50px 28px 32px;
            }
            .card-logo {
                max-width: 243px;
                @include media-breakpoint-up(lg) {
                    max-width: 200px;
                }
                @media (min-width: 1200px) {
                    max-width: 243px;
                }
            }
            .promo-lable {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                padding: 20px 0 10px;
            }
            .yellow-dashed-label {
                width: 152px;
            }
            .btn-cta {
                width: 200px;
                padding-left: 20px;
                font-size: 16px;
                margin-top: 18px;
                @media (min-width: 1200px) {
                    max-width: 220px;
                }
            }
        }
    }
    .h4 {
        padding-top: 0;
        margin-bottom: 68px;
    }
    .rs-list {
        margin-bottom: 42px;
    }
}

.list-price-block {
    padding: 38px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-breakpoint-up(md) {
        padding: 60px 0 67px;
    }
    .h4 {
        margin-bottom: 20px;
    }
    .price-line {
        padding: 0 20px;
        width: 494px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #edf2f5;
        @include media-breakpoint-up(md) {
            padding: 0;
            padding-left: 42px;
        }

        .name {
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
        }
        .price {
            margin-left: auto;
            color: $rs-green-2;
            font-size: 30px;
            line-height: 54px;
            font-weight: bold;
            padding-right: 0;
            @include media-breakpoint-up(md) {
                font-size: 35px;
                padding-right: 11px;
            }
        }
        .period {
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            width: 100%;
            text-align: right;
            @include media-breakpoint-up(md) {
                width: 130px;
                text-align: left;
            }
        }
    }
}

.provider-contact-block {
    text-align: center;
    padding: 10px 0 40px;
    .h4 {
        margin-bottom: 25px;
    }
    .contact-list {
        padding: 57px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $rs-grey-9;
        border-radius: 32px;
        @include media-breakpoint-up(lg) {
            padding: 30px 8%;
        }
        @media (min-width: 1200px) {
            padding: 50px 13% 30px;
        }

        .contact-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 7px;
            .circle-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 65px;
                height: 65px;
                border-radius: 50%;
                background-color: $rs-white;
                img {
                    max-width: 36px;
                    min-height: 36px;
                }
            }
            .info {
                padding-top: 11px;
                color: $rs-purple;
                font-size: 10px;
                line-height: 14px;
                text-transform: uppercase;
            }
        }
    }
}

.simple-list-block {
    padding: 45px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $rs-grey-9;
    border-radius: 32px;
    margin: 0 15px;
    @media (min-width: 576px) { 
        margin: 0;
     }
    @include media-breakpoint-up(md) {
        padding: 57px 10px;
    }
    .h4 {
        text-align: center;
        margin-bottom: 42px;
    }
    .h5 {
        width: 100%;
        padding: 0 30px;
        @include media-breakpoint-up(md) {
            padding: 0 3%;
        }
        @include media-breakpoint-up(lg) {
            padding: 0px 20%;
        }
    }
    .simple-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        .simpl-item {
            width: 100%;
            padding: 0 30px;
            margin: 0;
            list-style: none;
            font-size: 14px;
            line-height: 22px;
            position: relative;
            @include media-breakpoint-up(md) {
                padding: 0;
                width: 42%;
                margin: 0 3%;
            }
            @include media-breakpoint-up(lg) {
                width: 25%;
                margin: 0px 5%;
            }
            &:before {
                position: absolute;
                left: 15px;
                content: "\2022";
                color: $rs-grey-11;
                font-weight: 700;
                margin-right: 18px;
                @include media-breakpoint-up(md) {
                    left: -18px;
                }
            }
        }
    }
}

.check-list-block {
    padding: 0 15px;
    @media (min-width: 576px) { 
        padding: 0;
     }

    .h4 {
        text-align: center;
        padding-top: 20px;
        margin-bottom: 45px;
    }
}

.check-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 64px 0 53px;
    .check {
        font-weight: 700;
        font-size: 18px;
        line-height: 40px;
        width: max-content;
        @include media-breakpoint-up(md) {
            line-height: 21px;
        }
        &:before {
            margin-right: 20px;
        }
        &.true {
            &:before {
                content: url(../svg/green-check.png);
            }
        }
        &.false {
            &:before {
                content: url(../svg/red-cros.png);
            }
            &.mr {
                margin-right: 48px;
                @media (min-width: 576px) { 
                    margin: 0;
                 }

            }
        }
        &:nth-child(odd) {
            margin-right: 20px;
        }
    }
    &.one-column {
        text-align: center;
        flex-wrap: nowrap;
        flex-direction: column;
        padding-bottom: 43px;
        padding-left: 25px;
        padding-right: 25px;
        .check {
            max-width: 100%;
            font-weight: normal;
            margin-right: 0;
            font-size: 18px;
            line-height: 21px;
            padding-bottom: 21px;
            &:last-of-type {
                padding-bottom: 0;
            }
            &:before {
                margin-right: 20px;
                @include media-breakpoint-up(md) {
                    margin-right: 40px;
                }
            }
        }
        .h4 {
            margin-bottom: 27px;
        }
    }
}
.list-container {
    background-color: $rs-grey-9;
    border-radius: 32px;
    padding: 55px 25%;
    padding-right: 0;
    @media (min-width: 576px) {
        padding: 55px 20px;
    }
    .check {
        font-weight: 700;
        font-size: 12px;
        line-height: 19px;
        width: max-content;
        padding-bottom: 17px;
        text-transform: uppercase;
        @include media-breakpoint-up(md) {
            line-height: 21px;
        }
        &:before {
            margin-right: 20px;
        }
        &.true {
            &:before {
                content: url(../svg/green-check.png);
            }
        }
        &.false {
            &:before {
                content: url(../svg/red-cros.png);
            }
        }
        &:nth-child(odd) {
            margin-right: 20px;
        }
    }
}

.double-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .h4 {
        font-size: 16px;
        line-height: 22px;
    }
    .check-list {
        margin: auto;
        width: 100%;
        padding: 30px 0;
        @include media-breakpoint-up(lg) {
            width: max-content;
            padding: 48px 0 64px;
        }
        .check {
            width: 100%;
        }
    }
}








/*Hero Section
.rs-section-hero{
	padding-top: 10px;
	padding-bottom: 20px;
	
	@include media-breakpoint-up(md) {
		padding-top: 30px;
		padding-bottom: 0px;
	}
	
	h1{
		font-size: 26px;
		margin-bottom: 0;
		padding-bottom:0;
		padding-bottom:0;
        @include media-breakpoint-up(md) {
            font-size: 50px;
			margin-bottom: 0;
			padding-bottom:0;
			padding-bottom:0;
        }
	}

	.rs-description {
	    padding: 10px 15px;
		text-align: center;
	    line-height: 1.6;
        @include media-breakpoint-up(lg) {
            padding-left: 20%;
			padding-right: 20%;
        }
	}
}
*/

/*Content section*/

.rs-content-section {
	padding-top: 60px;
    padding-bottom: 60px;
    order: 3;

	.rs-block-caption {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		font-size: 32px;
		@include media-breakpoint-up(md) {
			margin-bottom: 60px;
		}
		i {
			margin-right: 15px;
			@include media-breakpoint-up(md) {
				margin-right: 38px;
			}
		}
		h3 {
			margin: 0;
			padding: 0;
			font-weight: 800;
			font-size: 35px;
			line-height: 57px;
		}
	}
	.rs-block-toc {
		width: 100%;
		background: $rs-grey-5;
		padding: 30px;
		margin-bottom: 30px;
		.list-item {
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
			list-style: none;
			margin-bottom: 10px;
		}
		a{
			color: #000;
			text-decoration: none;
		}
		@include media-breakpoint-up(md) {
			padding: 50px 33px 37px;
			margin-bottom: 54px;
			.list-item {
				margin-bottom: 20px;
			}
		}
	}
	.rs-block-content {
		padding-bottom: 5px;
		.h4 {
			font-weight: 800;
			font-size: 26px;
			line-height: 41px;

			@include media-breakpoint-up(lg) {
				font-size: 32px;
				line-height: 41px;
			}
		}
		p {
			font-weight: normal;
			color: rgba(0, 0, 0, 0.8); 
			font-size: 14px;
			line-height: 22px;

			@include media-breakpoint-up(md) {
				font-size: 16px;
				line-height: 26px;
			}
		}
	}

	img,
	.content-img{
		max-width: 100%;
	}
}







/*Simple cards*/
/*About us page*/

.card-container {
    height: auto;
    margin-bottom: 24px;
}


.simple-card {
    display: flex;
    height: 100%;
    margin-bottom: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    padding: 14px 25px;
    align-items: center;
    transition: 0.4s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;

    &:hover {
        text-decoration: none;
        box-shadow: $box-shadow-light;
    }
    * {
        cursor: pointer;
    }


    @media (min-width: 576px) {
        margin-left: unset;
        margin-right: unset;
        border-radius: 10px;
        flex-direction: column;
        justify-content: space-between;
        padding: 33px 20px 23px;
    }
    .description-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (min-width: 576px) {
            align-items: center;
        }
        .block-number {
            margin-right: 7px;
        }
    }
    .simple-card-img {
        height: 55px;
        margin-right: 25px;
        @media (min-width: 576px) {
            height: 100px;
            margin-bottom: 10px;
            margin-right: 0;
        }
    }
    .simple-card-description {
        text-transform: capitalize;
        color: $rs-black;
        // opacity: 0.8;
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
        color: $rs-blue;
        margin-left: auto;
        margin-bottom: 5px;
        @media (min-width: 576px) {
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            margin-left: unset;
        }
    }
	&:hover {
	    box-shadow: $box-shadow-heavy;
	}
}



.simple-card-block {
    display: flex;
    align-items: center;
    color: $rs-black;
    font-weight: 600;
    font-size: 11px;
    line-height: 18px;
    @include media-breakpoint-up(md) {
        font-size: 13px;
    }
}


/*
single-condition
single-treatment
single-provider

collapse card
*/
.price-table-block {
    padding-bottom: 40px;
    .table-name-block {
        &.tmd-right {
            text-align: left;
            @include media-breakpoint-up(lg) {
                text-align: right;
            }
        }
    }
    .link-compare {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        text-decoration-line: underline;
        color: $rs-black;
        cursor: pointer;
        margin-top: 17px;
    }
}


/*list for
-All conditions
-All treatments
*/

.rs-list {
    padding: 0;
    @media (max-width: 576px) {
        margin-bottom: 60px;
    }

    &.providers-list {
        .alphabet-section {
            padding-bottom: 20px;
        }
    }
	
	li{
		list-style: none;
    }

    .result-item {
        width: 100%;
    }
    
    .alphabet-section {
        // padding: 0;
        position: relative;
        list-style: none;
        border-top: 1px solid $rs-grey-5;
        margin-top: 41px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 576px) {
            margin-top: 60px;
            margin-left: 15px;
            &:first-of-type {
                margin-top: 15px;
            }
        }

        &.list {
            margin-top: 15px;
            border-top: none;
            padding: 0;
            margin-left: 0;

            .provider-item {
                margin: 0;
                margin-bottom: 32px;
                @include media-breakpoint-up(md) {
                    margin: 0 9px 40px;
                }
                .card {
                    box-shadow: $box-shadow-light;
                }
            }
        }

        .name-section {
            text-transform: uppercase;
            border-radius: 50%;
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $rs-grey-5;
            font-family: "Catamaran";
            font-weight: 800;
            font-size: 16px;
            line-height: 1;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-50%, -50%);
            @media (max-width: 576px) {
                transform: translate(0, -50%);
            }
            &.alfabet {
                transform: unset;
                display: none;
                @include media-breakpoint-up(md) {
                    display: flex;
                }
            }
            &.left-abs {
                left: -50px;
                top: 0;
                transform: translate(0);
                display: none;
                @include media-breakpoint-up(md) {
                    display: flex;
                }
            }
        }
    }
}


/*For
-All providers
-All treatments
-All conditions


.rs-alphabet {
    .alphabet-section {
        @media (min-width: 576px) {
            padding-bottom: 60px;
        }
        @include media-breakpoint-up(md) {
            padding-bottom: 70px;
        }
        @media (min-width: 1200px) {
            padding-bottom: 120px;
        }
    }
}
*/



