
.rs-single-treatment,
.rs-single-condition
{
	
	/*less margins because of breadcrumb*/
	.rs-h1{
		padding-top: 0;
		margin-top: 0;
	}
	
	/*Featured provider*/
	.rs-featured-provider{
		text-align: center;
		padding-bottom: 10px;
		font-weight: 300;
		font-size: 14px;
		line-height: 19px;
		color: rgba(0, 0, 0, 0.8);
		text-transform: capitalize;
	}
	
	
	/*3 cards carousel*/
	.carousel-section {   
		padding-bottom: 15px;
		.owl-carousel {
            .owl-stage {
                padding: 0!important;
            }
			@include media-breakpoint-up(md) {
				margin-top: 20px;
			}
			.owl-item {
				padding: 12px;
				@include media-breakpoint-up(md) {
					padding: 15px;
				}
				.provider-item-vertical{
					margin: 0;
				}

				.provider-item {
					min-height: 535px;
					box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
				}
			}
			.owl-nav {
				.owl-prev,
				.owl-next {
					display: none;
					outline: none;
					position: absolute;
					right: -95px;
					top: 43%;
					transform: translate(-50%, -50%);
					width: 60px;
					height: 60px;
					border-radius: 50%;
					background-color: $rs-grey-13 !important;
					box-shadow: $box-shadow-heavy;
					transition: 0.4s ease-in-out;
					&:hover {
						box-shadow: $box-shadow-light;
					}
					&::before {
						content: url(../svg/prev.svg);
						position: absolute;
						width: 22px;
						left: 32px;
						top: 57%;
						transform: translate(-50%, -50%);
						opacity: 0.7;
					}
					@include media-breakpoint-up(md) {
						display: block;
					}
				}

				.owl-prev {
					right: 0;
					left: -30px;
					top: 43%;
					&::before {
						transform: rotate(-180deg);
						left: 19px;
						top: 21%;
					}
				}
			}
		}
	}
}

.rs-single-condition,
.rs-single-treatment
{
	.rs-section-hero{
		//No margin because of category buttons
		.rs-h1{
			padding-bottom: 0;
			margin-bottom: 0;
		}
		.rs-description{
			padding-bottom: 0;
			margin-bottom: 8px;
		}
	}
}

/*
single-condition
single-treatment
single-provider
*/



/*Buttons with number*/

.rs-button-with-number {
	padding-top: 16px;
	padding-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    @include media-breakpoint-up(md) {
        justify-content: center;
		flex-direction: row;
    }

    .rs-button-inner {
        text-decoration: none;
        margin: 0 20px 10px;
        width: max-content;
        min-width: unset;
        display: flex;
        align-items: center;
        border: 1px solid $rs-grey-1;
        border-radius: 30px;
        padding: 5px 15px 5px 5px;
        transition: 0.4s;

        * {
            cursor: pointer;
        }
        &:hover {
            box-shadow: $box-shadow-light;
			text-decoration: none;
			
        }

        @include media-breakpoint-up(sm) {
            display: flex;
            align-items: center;
            border: 1px solid $rs-grey-1;
            box-sizing: border-box;
            border-radius: 30px;
            padding: 8px 15px 8px 10px;
            min-height: 40px;
            margin-left: unset;
        }

        @include media-breakpoint-up(md) {
           	margin: 0 5px 0 0;
        }
        .button-number {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            font-size: 12px;
            background-color: $rs-green;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $rs-white;
	        @include media-breakpoint-up(md) {
	            font-weight: 700;
	        }
        }
        .button-description {
            text-transform: uppercase;
            color: $rs-black;
            font-weight: 600;
            font-size: 13px;
            padding-left: 12px;
            line-height: 18px;
            width: max-content;
            display: block;
	        @include media-breakpoint-up(md) {
	            font-weight: 700;
	        }
        }
    }
}



/*
all-conditions
all-treatments
single-provider
*/

.rs-all-conditions{
    padding-bottom: 40px;
    .rs-search-input-block {
        margin: 0 30px 15px;
    }
	@include media-breakpoint-up(lg) {
		.rs-section-hero .rs-description{
			max-width: 500px;
		}
		.rs-search-input-block {
		    margin: 0 auto 15px;
		}
	}
}

.rs-all-treatments{
	@include media-breakpoint-up(lg) {
		.rs-section-hero .rs-description{
			max-width: 500px;
		}
		.filters-container{
			clear: both;
			 .dropdown {
				width: 50%;
			}
			.btn-filter-search{
				height: 48px;
			}
		}
	}
}



/*List items*/

    .rs-treatments-list,
	.rs-conditions-list 
	{
        position: relative;
        // flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 30px;
        padding: 16px 40px 16px 20px;
        min-height: 72px;
        border-radius: 20px;
        box-shadow: $box-shadow-equal;
        transition: 0.4s;
        text-decoration: none;
		border: none;
        align-items: center;
        color: $rs-black;
        * {
            cursor: pointer;
        }
        &:hover {
            box-shadow: $box-shadow-equal-hover;
			text-decoration: none;
			color: unset;
        }
        .simple-flex {
            display: flex;
            align-items: center;
        }
        @include media-breakpoint-up(md) {
            width: calc(100% - 75px);
            margin-left: auto;
            padding: 0 40px;
            border-radius: 40px;
        }
		
        @include media-breakpoint-up(lg) {
            width: calc(100% - 40px);
            margin-left: auto;
            padding: 0 40px;
        }

        .block-name {
            font-weight: 600;
            font-size: 16px;
            color: $rs-black;
            display: block;
            @include media-breakpoint-up(md) {
                font-size: 20px;
                width: max-content;
                margin-bottom: 0;
            }
        }
        .label-card {
            border-radius: 20px;
            width: max-content;
            padding: 0 12px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            color: $rs-white;
            background: $rs-grey-1;
            margin-left: 10px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.green {
                background: $rs-green;
            }
        }

		.block-number {
			color: $rs-blue;
			font-size: 12px;
			font-weight: 600;
			@include media-breakpoint-up(md)
			{
				font-size: 18px;
				font-weight: 800;
			}
		}
		
        .numb-block {
            display: flex;
            align-items: center;
            width: 100%;
            margin-top: 10px;
            @include media-breakpoint-up(md) {
                margin-left: auto;
                width: max-content;
                margin-top: 0;
            }
        }
        .block-description {
            font-weight: 500;
            font-size: 12px;
            text-transform: capitalize;
            padding-left: 5px;
            display: block;
            @include media-breakpoint-up(md) {
                font-weight: 600;
                font-size: 18px;
                padding-left: 12px;
            }
        }
        .arw-right {
            margin-left: 24px;
            position: absolute;
            right: 27px;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 15px;
            @include media-breakpoint-up(md) {
                height: unset;
                position: relative;
                right: unset;
                top: unset;
                transform: unset;
            }
        }
    }



/*Compare table*/

.compare-section {
    // background-color: $rs-grey-9;
    padding: 15px 0 100px 30px ;
    @include media-breakpoint-up(md) {
        padding: 15px 15px 130px;
    }
    display: flex;
    flex-direction: column;
    .rs-h3 {
        font-weight: 800;
        font-size: 28px;
        line-height: 1.4;
        text-align: center;
    }
    p {
        text-align: center;
        max-width: 435px;
        text-align: left;
        margin: unset;
        @include media-breakpoint-up(md) {
            margin: auto;
            text-align: center;
        }
    }

    .table-shadow {
        box-shadow: 3px -8px 20px 3px rgba(0, 0, 0, 0.06);
        padding: 0;
        border-radius: 20px;
        margin-top: 27px;
    }
    .compare-table {
        border-radius: 20px;
        margin-bottom: 0;
        background: $rs-white;

        tr {
            position: relative;
            &:first-of-type {
                td {
                    // max-width: 130px;
                    padding: 20px 20px;
                    border: none;
                    font-weight: 800;
                    font-size: 12px;
                    line-height: 19px;
                    &:first-of-type {
                        max-width: unset;
                    }
                    &.fixed {
                        border-radius: 20px 0 0 0;
                    }
                }
            }
            &:last-of-type td.fixed {
                border-radius: 0 0 0 20px;
            }

            td {
                vertical-align: middle;
            }
        }

        .fixed {
            // width: 165px;
            width: 140px;
            position: absolute;
            z-index: 3;
            background: $rs-white;
            box-shadow: 0px 0px 40px -22px rgba(0, 0, 0, 0.15);
            @include media-breakpoint-up(md) {
                width: 165px;
            }
            .td {
                background: $rs-white;
				align-items: start;
            }
        }
        .transparent {
            opacity: 0;
        }
        .td {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            &.column {
                flex-direction: column;
                min-height: 85px;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                @include media-breakpoint-up(md) {
                    font-size: 14px;
                }
				span{
					padding-top: 5px;
				}
            }
            &:first-of-type {
                img {
                    max-width: 100%;
                }
            }
            &.bg-oval-blue,
            &.bg-oval-grey {
                position: relative;
                z-index: 1;
                &::before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 90.11px;
                    height: 49.56px;
                    background: $rs-grey-5;
                    border-radius: 20px;
                    z-index: -1;
                    transform: translate(-50%, -50%);
                }
            }
            &.bg-oval-blue {
                color: $rs-white;
                &::before {
                    background: $rs-blue;
                }
            }

            .na {
                font-weight: normal;
                font-size: 15px;
                line-height: 20px;
                text-transform: uppercase;
            }
            .price {
                font-weight: bold;
                font-size: 22px;
            }

            .count {
                font-weight: normal;
                font-size: 9px;
                line-height: 1;
                padding-top: 10px;
            }
        }
    }
}


.dr-header {
	/*
    display: flex;
    justify-content: center;
    position: relative;
	*/
    padding-top: 45px;

	.rs-header-block {
		/*
	    display: flex;
	    flex-direction: column;
	    align-items: flex-start;
		*/
		text-align: center;	
	    padding: 0 30px;
	    @include media-breakpoint-up(md) {
	        padding: 0 30px;
	        align-items: center;
	    }
	    img {
	        margin: auto;
	    }
	    .h2,
		.h3 {
	        font-weight: 800;
	        font-size: 20px;
	        line-height: 1.2;
	        padding: 0;
			text-align: center;
	        @include media-breakpoint-up(md) {
	            font-size: 35px;
	        }
	    }
	    .description {
	        display: block;
	        font-size: 16px;
	        line-height: 1.4;
	        margin: 0 auto 25px;
			max-width: 386px;
	        @include media-breakpoint-up(md) {
				
	        }
	    }
	}
}


