/*Breadcrumb*/
.breadcrumb-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
	
    nav{
      max-width: 100%;
    }
	
	.breadcrumb {
		max-width: 100%;
	    background-color: transparent;
	    padding-left: 0;
		padding-bottom: 0;
		width: max-content;
		/*
	    @include media-breakpoint-up(lg) {
	        padding-left: 0;
			
	    }
		*/
	    .breadcrumb-item,
	    .breadcrumb-item a {
	        font-size: 11px;
	        color: $rs-black-60;
	        @include media-breakpoint-up(md) {
	            font-size: 13px;
	        }
	    }
	}
	.rs-disclosure{
	cursor: pointer;
    font-size: 12px;
    color: $rs-black-60;
	margin-bottom: 8px;
    @include media-breakpoint-up(md) 
		{
	    font-size: 13px;
	    padding-top: 13px;
	    font-weight: 500;
   	 	}
	}
}


//breadcrumb issue
.breadcrumb-container {
  
}

