.sidebar-news-card{
	background-color: $bg1;
	margin-top: 32px;
	margin-bottom: 32px;
	border-radius: 8px;
	@include media-breakpoint-up(md) 
	{
		border-radius: 20px;
	}

	.h5 {
		font-weight: 800;
		font-size: 22px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 22px;
		padding-top: 32px;
		@include media-breakpoint-up(md) {
			font-size: 26px;
		}
		
	}

	a.news-card{
		transition: 0.4s ease-in-out;
		background: transparent;
		margin: 0;
		padding: 10px 16px 10px 10px;
		margin-bottom: 12px;
		* {
			cursor: pointer;
			text-decoration: none;
		}
		&:hover{
			text-decoration: none;
		}
		
		.sidebar-info-block{
			display: flex;
			flex-direction: column;
			width: calc(100% - 85px);
			padding-left: 26px;
		}

		.news-label{
			font-weight: 600;
			text-transform: uppercase;
			font-size: 11px;
		}

		.card-img-block {
			display: flex;
			align-items: right;
		}

		.sidebar-news-img {
			width: 80px;
			height: 80px;
			border-radius: 10px;
			object-fit: cover;
		}

		&:nth-child(even){
			background-color: $rs-white;
			border-radius: 0;
		}

		.news-title {
			padding-left: 0;
			font-size: 15px;
			font-weight: 700;
			line-height: 1.4;
			color: $rs-black-80;
			margin-bottom:0;

		}
	}
}