.rs-index {
  .logo-icon {
    background: #fff;
    padding: 11px;
    border-radius: 300px;
    text-align: center;
    margin: 0 auto 22px;
    img {
      width: 36px;
    }
  }

  /*Text block*/
  .text-block {
    padding: 0 30px;
    p {
      line-height: 1.6;
    }
  }

  .h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: auto;
    margin-bottom: 3px;
    /*max-width: 300px;*/
    @include media-breakpoint-up(md) {
      font-size: 40px;
      max-width: unset;
    }
  }

  .btn-cta {
    margin: auto;
    // @include media-breakpoint-up(sm) {
    //   margin-top: 10px;
    // }
  }
}

/**** SECTION - HERO ***/




.banner-color-section {
  background-color: $style1;
  
 @include media-breakpoint-down(md){
	 background: $style1 url('../img/mobile-background.png') 50% 50% no-repeat;
 } 
  
  .banner-caption-block {
    position: relative;
    padding: 32px 0 24px;
    @include media-breakpoint-up(md) {
      padding: 100px 0 65px;
    }
    .cros {
      position: absolute;
      z-index: 0;
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
      &-1 {
        top: 22%;
        left: 0;
        transform: scale(0.65);
        opacity: 1;

        @include media-breakpoint-up(md) {
          animation: cros-a-1 45s infinite cubic-bezier(0.85, 0.85, 0.85, 0.85);
        }
      }
      &-2 {
        top: 5%;
        left: 26%;
        transform: scale(0.4);
        opacity: 0.5;
        @include media-breakpoint-up(md) {
          animation: cros-a-2 45s infinite cubic-bezier(0.85, 0.85, 0.85, 0.85);
        }
      }
      &-3 {
        bottom: 0;
        right: 38%;
        transform: scale(0.7);
        opacity: 0.5;
        @include media-breakpoint-up(md) {
          animation: cros-a-3 43s infinite cubic-bezier(0.85, 0.85, 0.85, 0.85);
        }
      }
      &-4 {
        bottom: 51%;
        right: 4%;
        transform: scale(1);
        opacity: 1;
        @include media-breakpoint-up(md) {
          animation: cros-a-4 43s infinite cubic-bezier(0.85, 0.85, 0.85, 0.85);
        }
      }
      &-5 {
        left: 70%;
        top: 30%;
        transform: scale(0.6);
        opacity: 0.6;
        @include media-breakpoint-up(md) {
          animation: cros-a-5 43s infinite cubic-bezier(0.85, 0.85, 0.85, 0.85);
        }
      }
      @keyframes cros-a-1 {
        0% {
          top: 22%;
          left: 0;
          transform: scale(0.65);
          opacity: 1;
        }
        25% {
          top: 0%;
          left: 25%;
          transform: scale(0.5);
          opacity: 0.7;
        }
        50% {
          top: 30%;
          left: 85%;
          transform: scale(1);
          opacity: 1;
        }
        75% {
          top: 55%;
          left: 40%;
          transform: scale(0.75);
          opacity: 0.7;
        }
        100% {
          top: 22%;
          left: 0;
          transform: scale(0.65);
          opacity: 1;
        }
      }
      @keyframes cros-a-2 {
        0% {
          top: 5%;
          left: 26%;
          transform: scale(0.4);
          opacity: 0.5;
        }
        20% {
          top: 25%;
          left: 55%;
          transform: scale(0.6);
          opacity: 0.7;
        }
        40% {
          top: 55%;
          left: 85%;
          transform: scale(1);
          opacity: 0.5;
        }
        60% {
          top: 45%;
          left: 55%;
          transform: scale(0.8);
          opacity: 0.7;
        }

        80% {
          top: 20%;
          left: 38%;
          transform: scale(0.6);
          opacity: 0.7;
        }
        100% {
          top: 5%;
          left: 26%;
          transform: scale(0.4);
          opacity: 0.5;
        }
      }
      @keyframes cros-a-3 {
        0% {
          bottom: 0;
          right: 38%;
          transform: scale(0.7);
          opacity: 0.5;
        }
        20% {
          bottom: 5%;
          right: 70%;
          transform: scale(1);
          opacity: 0.5;
        }
        30% {
          bottom: 50%;
          right: 90%;
          transform: scale(0.7);
          opacity: 0.6;
        }
        40% {
          bottom: 65%;
          right: 75%;
          transform: scale(0.5);
          opacity: 1;
        }
        60% {
          bottom: 80%;
          right: 50%;
          transform: scale(0.3);
          opacity: 0.7;
        }
        80% {
          bottom: 20%;
          right: 20%;
          transform: scale(0.5);
          opacity: 0.8;
        }
        100% {
          bottom: 0;
          right: 38%;
          transform: scale(0.7);
          opacity: 0.5;
        }
      }
      @keyframes cros-a-4 {
        0% {
          bottom: 51%;
          right: 4%;
          transform: scale(1);

          opacity: 1;
        }
        25% {
          bottom: 0%;
          right: 38%;
          opacity: 0.7;
          transform: scale(0.4);
        }
        50% {
          bottom: 50%;
          right: 88%;
          opacity: 0.5;
          transform: scale(0.7);
        }
        75% {
          bottom: 68%;
          right: 38%;
          opacity: 0.7;
          transform: scale(0.2);
        }
        100% {
          bottom: 51%;
          right: 4%;
          transform: scale(1);
          opacity: 1;
        }
      }
      @keyframes cros-a-5 {
        0% {
          left: 70%;
          top: 30%;
          transform: scale(0.6);
          opacity: 0.6;
        }
        25% {
          left: 50%;
          top: 50%;
          transform: scale(0.8);
          opacity: 0.4;
        }
        50% {
          left: 20%;
          top: 80%;
          transform: scale(0.7);
          opacity: 0.5;
        }
        75% {
          left: 45%;
          top: 45%;
          transform: scale(0.6);
          opacity: 0.5;
        }
        100% {
          left: 70%;
          top: 30%;
          transform: scale(0.6);
          opacity: 0.6;
        }
      }
    }
    .h1 {
      z-index: 1;
      position: relative;
      margin: auto;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 38px;
      line-height: 118.7%;
      text-align: center;
      padding: 0;
      @include media-breakpoint-up(sm) {
        font-size: 40px;
      }
      @include media-breakpoint-up(md) {
        font-size: 90px;
        line-height: 99px;
        letter-spacing: 2px;
      }
      span {
        display: block;
        color: $rs-white;
        width: 100%;
        @include media-breakpoint-up(md) {
          width: unset;
          display: unset;
        }
      }
    }
  }
}

//**** SECTION - GUIDES ***/
.guides-section {
  background: $rs-white;
  padding: 30px 0 45px;
  @include media-breakpoint-up(md) {
    padding: 44px 0 40px;
  }
  .btn-cta {
    @include media-breakpoint-up(sm) {
      font-size: 24px;
    }
  }
}

//**** SECTION - CONDITIONS ***/

.linear-yellow {
	background: linear-gradient(90deg, $rs-yellow 4px, rgba(255,255,255,1) 4px);
}
.linear-blue {
	background: linear-gradient(90deg, $rs-blue 4px, rgba(255,255,255,1) 4px);
}
.linear-green {
	background: linear-gradient(90deg, $rs-green 4px, rgba(255,255,255,1) 4px);
	color: $rs-green;
}
.linear-purple {
	background: linear-gradient(90deg, $rs-purple 4px, rgba(255,255,255,1) 4px);
}
.linear-pink {
	background: linear-gradient(90deg, $rs-pink 4px, rgba(255,255,255,1) 4px);
}
.linear-red {
	background: linear-gradient(90deg, $rs-red 4px, rgba(255,255,255,1) 4px);
}
.linear-orange {
	background: linear-gradient(90deg, $rs-orange 4px, rgba(255,255,255,1) 4px);
}


.conditions-section {
  padding: 30px 0 45px;
  @include media-breakpoint-up(md) {
    padding: 57px 0 40px;
  }

  .h2 {
    max-width: 300px;
    @include media-breakpoint-up(md) {
      max-width: unset;
    }
  }

  .rs-description {
    @include media-breakpoint-up(md) {
      max-width: 540px;
      font-size: 20px;
      line-height: 27px;
      margin: 6px auto 35px;
    }
  }
  
  .btn-cta {
	  margin-top: 30px;
	  @include media-breakpoint-up(sm) {
		  margin-top: 15px;
	  }
  }
  

  a.card-conditions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 11px 6px;
    transition: 0.4s ease-in-out;
    box-shadow: $box-shadow-equal;
    margin: 0 15px;
    text-align: center;
    @include media-breakpoint-up(md) {
      padding: 24px 6px;
    }

    .card-conditions-name {
      color: $rs-black-80;
      font-size: 20px;
      font-weight: 600;
    }
    .card-conditions-providers {
      color: $rs-black-80;
      font-size: 13px;
      font-weight: 500;
    }

    &:hover {
      text-decoration: none !important;
      box-shadow: $box-shadow-equal-hover;
      cursor: pointer;
      * {
        cursor: pointer !important;
      }
    }
  }
  


  @include media-breakpoint-up(sm) {
    .card-container {
      margin-top: 7px;
      margin-bottom: 18px;
    }
    a.card-conditions {
      // margin-left: unset;
      // margin-right: unset;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 6px;

      @include media-breakpoint-up(md) {
        padding: 25px 6px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}


//**** SECTION - TEXTBLOCK ****//

.rs-index{
	.rs-content-section h4,
	.rs-content-section .tagline-above
	{
		text-align: left;
	 @include media-breakpoint-up(md) {
	 	text-align: center;
	 }
	}
	
	.rs-content-section h4{
		padding-top: 16px;
		padding-bottom: 8px;
	}
}


//**** SECTION - DON'T WAIT ANOTHER ***/

.conditional-list-section {
  padding: 18px 0 45px;
  @include media-breakpoint-up(md) {
    padding: 46px 0 0px;
  }
  
  h2{
      @include media-breakpoint-down(md) {
        font-size: 28px !important;
      }
  }

  .rs-description {
    @include media-breakpoint-up(md) {
      font-size: 22px;
      line-height: 1.5;
    }
  }

  .conditional-list-img-block {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
    img {
      width: 91%;
      height: 90%;
      object-fit: cover;
    }
  }
  
  
  .btn-cta{
	  margin: unset;
	  @include media-breakpoint-up(md) 
	  {
		  margin-left: 0;
	  }
  }


  .conditional-list-block {
    padding: 24px 15px 0;
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: left;
      padding: 44px 30px 30px;
    }

    @include media-breakpoint-up(md) {
      .h2 {
        text-align: left;
      }
      .rs-description {
        text-align: left;
        margin-bottom: 0;
      }
      .btn-cta {
        text-align: left;
      }
    }
    .info-list {
      padding: 0;
      margin: 20px 0 38px 0;
      .info-list-item {
        display: flex;
        align-items: left;
        text-align: left;
        position: relative;
        font-size: 16px;
        line-height: 1.4;
        color: $rs-black;
        padding-left: 60px;
        min-height: 40px;
        margin-bottom: 13px;
        &::before {
          content: "\eb5f";
          position: absolute;
          left: 0;
          top: -6px;
          color: #fff;
          font-family: "icomoon";
          font-size: 22px;
          background-color: $rs-green;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
        span {
          font-weight: bold;
        }
        @include media-breakpoint-up(md) {
          font-size: 18px;
          align-items: left;
        }
      }
    }
  }
}